.chart-canvas {
    background: linear-gradient(to bottom right, rgba(255,0,0,0.5), rgba(255,255,0,0.5), rgba(0,255,0,0.5));
    padding: 30px;
    padding-bottom: 5px;

  }
  :host {
    display: block;
    width: 800px;
    height: 800px;
  }
