.login-back {
    background-image: url(../../../country/assets/images/pattern-2.png);
    height: 100vh;
}
.login-inner {
    max-width: 500px;
    margin: auto;
}

.login-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    align-content: center;
}

h2 {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 130%;
}

.pass{
    padding: 0 !important;
}

.pass input{
    width: 100% !important;
}

.pass-icon{
  cursor: pointer;
}
.signup-line{
    margin-top: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    line-height:normal;
    text-align: center;
    background-color: rgb(233, 225, 214);
    
}
.signup-line a{
    color: blue !important;
    
}