<div id="content" #content>
    <div class="container pl-20 pr-20" *ngIf="isLoaded">
        <div class="mb-12">
            <h4 class="mt-4"> {{portfolio.portfolioName}}</h4>
        </div>
        <div class="p-grid p-fluid card">

            <div class="p-grid p-fluid col-md-12 col-sm-12 text-title">
                <div class="row p-2" *ngFor="let item of card">
                    <div class="col-6">{{item.title}} :</div>
                    <div class="col-6">{{item.data}}</div>
                </div>
            </div>
            <br>
            <p-table [value]="assessmentList" [tableStyle]="{ 'min-width': '100%' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>INTERVENTION ID</th>
                        <th style="width:40%">INTERVENTION</th>
                        <th style="width:20%">ASSESSMENT TYPE</th>
                        <th style="width:40%">ASSESSMENT PERIOD</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-assessList>
                    <tr>
                        <td>{{ assessList.assessment.climateAction.intervention_id }}</td>
                        <td>{{ assessList.assessment.climateAction.policyName }}</td>
                        <td>{{ assessList.assessment.assessmentType }}</td>
                        <td>{{ assessList.assessment.from | date:'yyyy-MM-dd'}} - {{ assessList.assessment.to |
                            date:'yyyy-MM-dd'}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <br>
            <p *ngIf="hasCMToolAssessments"><i>Note: The Carbon Market tool does not have likelihood scores, as such,
                    characteristic scores and category scores of the carbon market tool have been mapped to align with
                    the other two tools to be compatible for comparison.</i></p>
            <h4>Process of change</h4>
            <app-portfolio-process-data [process_data]="process_data"></app-portfolio-process-data>

            <br>
            <h4>Outcome of change</h4>
            <app-portfolio-outcome-data [outcome_data]="outcome_data"></app-portfolio-outcome-data>

            <br>
            <app-portfolio-aggregation [aggregation_data]="aggregation_data"
                [alignment_data]="alignment_data"></app-portfolio-aggregation>
            <div class="d-flex  mt-4 mb-2 mr-2">
                <p-button (click)="genarateExcel()" label="Export"></p-button>
            </div>
        </div>
    </div>
</div>



<div hidden="true" id="one" *ngIf="isDownloading">
    <table>
        <tr></tr>
    </table> <!--for excel genarate purpose-->


    <div id="one">
        <table>
            <tr *ngFor="let item of card">
                <td>{{item.title}} :</td>
                <td>{{item.data}}</td>
            </tr>
        </table> <!--for excel genarate purpose-->
    </div>
    <div id="two">
        <table>
            <tr></tr>
        </table> <!--for excel genarate purpose-->
        <p-table [value]="assessmentList" [tableStyle]="{ 'min-width': '100%' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>INTERVENTION ID</th>
                    <th style="width:40%">INTERVENTION</th>
                    <th style="width:20%">ASSESSMENT TYPE</th>
                    <th style="width:40%">ASSESSMENT PERIOD</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-assessList>
                <tr>
                    <td>{{ assessList.assessment.climateAction.intervention_id }}</td>
                    <td>{{ assessList.assessment.climateAction.policyName }}</td>
                    <td>{{ assessList.assessment.assessmentType }}</td>
                    <td>{{ assessList.assessment.from | date:'yyyy-MM-dd'}} - {{ assessList.assessment.to |
                        date:'yyyy-MM-dd'}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <table>
            <tr></tr>
        </table> <!--for excel genarate purpose-->
        <table>
            <tr></tr>
        </table> <!--for excel genarate purpose-->
        <table>
            <tr>
                <h4>Process of change</h4>
            </tr>
        </table>
        <table>
            <tr></tr>
        </table> <!--for excel genarate purpose-->
        <app-portfolio-process-data [process_data]="process_data"></app-portfolio-process-data>
        <table>
            <tr></tr>
        </table> <!--for excel genarate purpose-->
        <table>
            <tr>
                <h4>Outcome of change</h4>
            </tr>
        </table>
        <table>
            <tr></tr>
        </table> <!--for excel genarate purpose-->
        <app-portfolio-outcome-data [outcome_data]="outcome_data"></app-portfolio-outcome-data>
        <table>
            <tr></tr>
        </table> <!--for excel genarate purpose-->
        <table>
            <tr>
                <h4>Aggregation</h4>
            </tr>
        </table>
        <table>
            <tr></tr>
        </table> <!--for excel genarate purpose-->
        <app-portfolio-aggregation [aggregation_data]="aggregation_data"
            [alignment_data]="alignment_data"></app-portfolio-aggregation>

    </div>

</div>