.p-button .icon {
    font-size: 30px !important;
    color: red !important;
}

::ng-deep .p-dialog .row {
    display: flex !important;
    flex-wrap: wrap !important; 
    margin-right: -15px !important;
    margin-left: -15px !important;
  }
  
  
::ng-deep .p-dialog .col-12 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  
 
/* ::ng-deep .p-dialog  .col-6 {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  } */


  ::ng-deep .p-dialog  .p-field {
    margin-bottom: 1rem;
  }
  
  ::ng-deep .p-dialog .label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  .barrier-top{
    font-size: 14px;
    font-weight: 600;
  }

  .question{
    font-size: 14px;
}



.tooltip-container {
  display: inline-block;
  margin-left: 5px;
  position: relative;
}


.tooltip-icon {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-color: #000;
  border-radius: 50%;
  text-align: center;
  line-height: 17px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
}

.tooltip-text {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
  left: 30px;
  top: -150%; /* Adjust the distance above the icon */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  white-space: normal;
  word-wrap: break-word;
}

.tooltip-container:hover .tooltip-text {
  opacity: 1;
}