<div class="container">
    <h4 class="mt-4">Quality Control Details</h4>
    <div class="p-grid p-fluid card">
        <div class="col-md-6">
            <div class="col-12">
                <div class="p-field">
                    <label for="projStatus">Aggregated Actions</label>
                    <input [disabled]="true" type="text" name="ndc" class="p-inputtext" pInputText />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-12">
                <div class="p-field">
                    <label for="projStatus">Action Areas</label>
                    <input [disabled]="true" type="text" name="subNDc" class="p-inputtext" pInputText />
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-10">
            <div class="col-12">
                <div class="p-field">
                    <label for="projStatus">Specific Climate Action</label>
                    <input [disabled]="true" type="text" name="ndc" class="p-inputtext" pInputText />
                </div>
            </div>
        </div>
    </div>