<div class="row mb-4">
    <div class="col-md-4">
      <div class="col-12">
        <div class="p-field">
          <label for="projStatus">Intervention</label>
          <p-dropdown
            name="climateActiontype"
            [options]="climateactions"
            [(ngModel)]="searchBy.climateaction"
            #fsector="ngModel"
            [showClear]="true"
            [filter]="true"
            placeholder="Select .."
            optionLabel="policyName"
            (ngModelChange)="onCAChange($event)"
          >
          </p-dropdown>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="p-inputgroup pt-4">
        <input
          placeholder="Type Your Keyword"
          type="text"
          class="p-inputtext"
          [(ngModel)]="searchBy.text"
          pInputText
        />
        <button
          type="button"
          pButton
          pRipple
          label="Search"
          (click)="onSearchClick($event)"
        ></button>
      </div>
    </div>
</div>
<div class="row p-2">
    <p-table #table [value]="parameterList" [lazy]="true" (onLazyLoad)="loadgridData($event)" [paginator]="true"
        [rows]="rows" [showCurrentPageReport]="true" paginatorDropdownAppendTo="body"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[ 10, 25, 50]" [totalRecords]="totalRecords" [loading]="loading" [responsive]="true"
        [(selection)]="selectedParameters">

        <ng-template pTemplate="header">

            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>Intervention</th>
                <th>Assessment Type</th>
                <th>Assessment Period</th>
                <th>Process/Outcome</th>
                <th>Category</th>
                <th>Characteristic</th>
                <th>Indicator/Score</th>
                <th>Value/Answer</th>
                <th>Actions</th>
                <th>Deadline</th>
                <th>Info</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-parameterList>
            <tr>
                <td>
                    <p-tableCheckbox [value]="parameterList"> </p-tableCheckbox>
                </td>
                <td>
                    <div class="might-overflow"
                        [pTooltip]="parameterList.investmentParameter.assessment.climateAction.policyName"
                        tooltipPosition="top">
                        {{
                        parameterList.investmentParameter.assessment.climateAction.policyName!
                        }}
                    </div>
                </td>
                <td>{{parameterList.investmentParameter.assessment.assessmentType}}</td>
                <td>{{parameterList.investmentParameter.assessment.from| date: "yyyy/MM/dd "}} -
                    {{parameterList.investmentParameter.assessment.to| date: "yyyy/MM/dd "}}</td>
                <td>{{parameterList.investmentParameter.type}}</td>
                <td>{{parameterList.investmentParameter.category?.name}}</td>
                <td>{{parameterList.investmentParameter.characteristics?.name}}</td>
                <td>{{ (parameterList?.investmentParameter?.question) ?(parameterList?.investmentParameter?.question?.name): (parameterList?.investmentParameter?.institutionDescription)}}</td>
                <td>{{parameterList.investmentParameter.parameter_value}}</td>
                <td>
            <tr>
                <td>
                    <button pRipple class="fas fa-plus" pButton type="button"
                        style="background-color: #c6cfd7; border-color: transparent" (click)="
                    onClickUpdateValue(parameterList)
                  ">
                        <i class="pi pi-plus" style="font-size: 1rem; color: #000"></i>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-outline-primary" (click)="onRejectClick(parameterList.id)"
                        (mouseenter)="onMouseOver()" (mouseleave)="onMouseleave()">
                        Reject
                    </button>
                </td>
            </tr>
            </td>

            <td>
                {{ parameterList.deadlineDataEntry | date: "yyyy-MM-dd " }}
            </td>
            <td>
                <i class="pi pi-ellipsis-v" style="font-size: 2rem" (click)="getInfo(parameterList)"></i>
            </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="row mb-3">
    <div class="col-sm-4 col-md-3 ">

        <button style="position:relative;width:85%" type="button" pButton pRipple (click)="download()"
            label="Export to Excel"></button>

        <div style="font-size: 2em;" type="button" class="pi pi-info-circle mt-1 ml-10"
            pTooltip="Download above table to excel. Please make sure not to change the template"></div>

    </div>
    <div class=" col-sm-4 col-md-3">
        <button type="button" (click)="uploadDialog()" pButton pRipple label="Upload Excel"></button>
    </div>
    <div class=" col-sm-3  col-md-3">
        <button type="button" (click)="onClickSendNowAll()" pButton pRipple label="Send"></button>
    </div>
</div>

<p-dialog [(visible)]="isAddData" header="Add Data" (onHide)="onHideDialog()">
    <div class="container" style="width: 700px; height: 225px; margin-left: 50px; margin-top: 0px">
        <table>
            <tr>
                <td class="col-12 col-md-4">
                    <div class="p-field mb-2">Value</div>
                </td>
                <td class="col-12 col-md-6">
                    <div class="p-field mb-2">
                        <p-dropdown *ngIf="isDropdown" name="answer" [options]="answers" [(ngModel)]="selectedValue"
                            #fsector="ngModel" [showClear]="true" [filter]="true" placeholder="Select ..">
                        </p-dropdown>
                        <input *ngIf="!isDropdown" placeholder="Type Your Value" type="text" #cations="ngModel" class="p-inputtext"
                            [(ngModel)]="selectedValue" pInputText [required]="true" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="p-field mb-2">Assumption</div>
                </td>
                <td>
                    <div class="p-field mb-2">
                        <input style="width: 250%; height: 55px;" placeholder="Type Your Assumption" type="text"
                            class="p-inputtext" [(ngModel)]="selectedAssumption" pInputText />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="p-field">
                        <button [disabled]="!selectedValue" type="button" pButton pRipple label="Save"
                            (click)="onClickSendNow(5)"></button>
                    </div>
                </td>
                <td>
                    <div class="p-field">
                        <button [disabled]="!selectedValue " type="button" pButton pRipple label="Send"
                            (click)="onClickSendNow(6)"></button>
                    </div>
                </td>
                <td>
                    <div class="p-field">
                        <button type="button" pButton pRipple label="Cancel" (click)="onCancel()"></button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</p-dialog>

<p-dialog [(visible)]="confirm2" header="Reject Data Request">
    <div class="container" style="width: 600px; height: 500px">
        <div class="row mb-2">
            <div class="col-3">Reason</div>
            <div class="col-4">
                <textarea rows="4" cols="35" placeholder="Reason for Reject" type="text" class="p-inputtext"
                    [(ngModel)]="reasonForReject" pInputTextarea></textarea>
            </div>
            <div class="col-5"></div>
        </div>
        <div class="row mb-2">
            <div class="col-3"></div>
            <div class="col-4">
                <button type="button" pButton pRipple label="Reject" style="margin-right: 10px"
                    (click)="onRejectConfirm()"></button>

                <button type="button" pButton pRipple label="Cancel" (click)="onReject()"></button>
            </div>
            <div class="col-5"></div>
        </div>
    </div>
</p-dialog>

<p-dialog [(visible)]="uploadFile" header="Upload Excel">
    <div class="container" style="width: 600px; height: 400px">
        <div class="row mb-2">
            <div class="col-3"></div>
            <div class="col-6">
                <input class="form-control mb-3" #myInput type="file" (change)="onChange($event)" />
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row mb-2">
            <div class="col-3"></div>
            <div class="col-4">
                <button type="button" pButton pRipple label="Upload" style="margin-right: 10px"
                    (click)="onUpload()"></button>

                <button type="button" (click)="uploadDialogCancel()" pButton pRipple label="Cancel"></button>
            </div>
            <div class="col-5"></div>
        </div>
    </div>
</p-dialog>

<p-dialog header="Data Request History" [(visible)]="displayHistory" [modal]="true" [style]="{ width: '50vw' }"
    [draggable]="false" [resizable]="false">
    <app-view-datarequest-history [parameterId]="paraId" [listOfHistory]="requestHistoryList">
    </app-view-datarequest-history>
</p-dialog>

<p-dialog header="Possible Reasons for Reject" [(visible)]="isOpen" [draggable]="false" [resizable]="false">
    <div class="container" style="width: 300px; height: 100px">
        <p>Eg - Data is not available</p>
    </div>
</p-dialog>
<p-toast position="top-right"></p-toast>