<div class="container pl-20 pr-20">
    <h4 class="mt-4">Enter Data</h4>
    <div class="p-grid p-fluid card">
        <p-tabView>
            <p-tabPanel [header]="masterDataService.getToolName('CARBON_MARKET')">
                <app-enter-data-cm></app-enter-data-cm>
            </p-tabPanel>
            <p-tabPanel [header]="masterDataService.getToolName('PORTFOLIO')">
                <app-enter-data-investment [tool]="'INVESTOR'"></app-enter-data-investment>
            </p-tabPanel>
            <p-tabPanel [header]="masterDataService.getToolName('INVESTOR')">
                <app-enter-data-investment [tool]="'PORTFOLIO'"></app-enter-data-investment>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>