<div class="container pl-20 pr-20">
  <div class="mb-12">
    <h4 class="mt-4"> Add New Portfolio</h4>
  </div>

  <form #fData="ngForm" (ngSubmit)="save(fData.value)">

    <div class="card" style="min-height: 600px;">

      <div class="p-grid p-fluid col-md-12 col-sm-12">
        <div class="row p-2">
          <div class="col-12 col-md-6">


            <div class="p-field p-2">
              <label for="portfolioId">Portfolio ID </label>
              <input pInputText type="text" #portfolioId="ngModel" name="portfolioId"
                [(ngModel)]="portfolio.portfolioId" disabled ="portfolio Id" required pattern="2023PT\d{3}" />
              <p class="info-message text-danger"
                *ngIf="!portfolioId.value && (fData.submitted || portfolioId.touched)">This is a mandatory field</p>
            </div>



            <div class="p-field p-2">
              <label for="portfolioName">Name of the Portfolio *</label>
              <input pInputText type="text" #portfolioName="ngModel" name="portfolioName"
                [(ngModel)]="portfolio.portfolioName" placeholder="Portfolio Name" required />
              <p class="info-message text-danger"
                *ngIf="!portfolioName.value && (fData.submitted || portfolioName.touched)">This is a mandatory field</p>
            </div>

            <div class="p-field p-2">
              <label for="description">Description of the Portfolio&nbsp;* <i class="pi pi-info-circle" pTooltip="Describe in general terms the interventions composing the portfolio" tooltipPosition="bottom"
                style="font-size: 1rem"></i></label>
              <input pInputText type="text" #description="ngModel" name="description"
                [(ngModel)]="portfolio.description" placeholder="Description" required />
              <p class="info-message text-danger"
                *ngIf="!description.value && (fData.submitted || description.touched)">This is a mandatory field</p>
            </div>

            <div class="p-field p-2">
              <label for="IsPreviousAssessment">Is this assessment an update of a previous assessment? *</label>
              <p-dropdown appendTo="body" name="IsPreviousAssessment" #IsPreviousAssessment="ngModel" (ngModelChange)="onChangePreviousAssessment($event)"
                placeholder="Yes or No" [(ngModel)]="portfolio.isPreviousAssessment" ngModel [options]="optionList" 
                optionLabel="name" optionValue="name" [required]="true"></p-dropdown>
              <p class="info-message text-danger"
                *ngIf="!IsPreviousAssessment.value && (fData.submitted || IsPreviousAssessment.touched)">This is a
                mandatory field</p>
            </div>

            <div *ngIf="addLink">
              <div class="p-field p-2">
                <label for="link">Links to any previous assessments</label>
                <input pInputText type="text" #link="ngModel" name="link" [(ngModel)]="portfolio.link"
                  placeholder="Links to any previous assessments" required />
              </div>
            </div>

            <div class="p-field p-2">
              <label for="objectives">Objective(s) of the assessment *</label>
              <input pInputText type="text" #objectives="ngModel" name="objectives" [(ngModel)]="portfolio.objectives"
                placeholder="Objective(s) of the assessment" required />
              <p class="info-message text-danger" *ngIf="!objectives.value && (fData.submitted || objectives.touched)">
                This is a mandatory field</p>
            </div>

            <div class="p-field p-2">
              <label for="audience">Intended audience(s) of the assessment *</label>
              <input pInputText type="text" #audience="ngModel" name="audience" [(ngModel)]="portfolio.audience"
                placeholder="Intended audience(s) of the assessment" required />
              <p class="info-message text-danger" *ngIf="!audience.value && (fData.submitted || audience.touched)">This
                is a mandatory field</p>
            </div>
            <div class="p-field p-2">

              <label for="date">Date <i class="pi pi-info-circle" pTooltip="Date of the assessment" tooltipPosition="bottom"
                style="font-size: 1rem"></i></label>
                <p-calendar dateFormat="dd/mm/yy" [disabled]="true" inputId="date"  [(ngModel)]="currentDate" 
                  name="date" #date="ngModel" [required]="true" appendTo="body">
                </p-calendar>
              <div class="col-12">
                <p class="info-message text-danger"
                  *ngIf="(date.invalid) && (fData.submitted || date.touched)">
                  This is a mandatory field
                </p>
              </div>
  
            </div>

          </div>
        </div>
      </div>

      <br>
      <h4>Add Interventions</h4>

      <p-table #dt2 
      [lazy]="true" 
      (onLazyLoad)="loadData($event)"
      paginatorDropdownAppendTo="body"
      [rows]="rows" 
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
      [totalRecords]="totalRecords" 
      [value]="resultsList" 
      [tableStyle]="{'min-width': '50rem'}"
      [paginator]="true"
      [sortField]="'id'" 
      [sortOrder]="-1"
        [globalFilterFields]="['tc_value', 'climateAction.policyName', 'assessmentType', 'assessment_approach', 'climateAction.policy_sector', 'climateAction.id','from', 'to']"
        [tableStyle]="{ 'min-width': '100%' }">
        <ng-template pTemplate="caption">
          <div class="row">

            <div class="col-md-3" >
              <p-columnFilter field="climateAction.policy_sector" matchMode="contains" [showMenu]="false">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-multiSelect  [options]="sectorList" (onChange)="onSearch($event.value, 'SECTOR')" optionLabel="name"
                    placeholder="Select Sector" >
                  </p-multiSelect>
                </ng-template>
              </p-columnFilter>
            </div>

            <div class="col-md-3 ">
              <p-columnFilter field="assessmentType" matchMode="equals" [showMenu]="false">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-dropdown [options]="statuses" optionValue="value" (onChange)="onSearch($event.value, 'TYPE')"
                    placeholder="Select Type" [showClear]="true">
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </div>

            <div class="col-md-3 ">
            </div>

            <div class="col-md-3 ">
              <div class="d-flex justify-content-end">
                <span class="p-input-icon-left ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="onSearch($event, 'TEXT')" placeholder="Search keyword" />
                </span>
              </div>
            </div>

          </div>

        </ng-template>
        <ng-template pTemplate="header">

          <tr>
            <th style="width:5%"></th>
            <th style="width:4%">ID</th>
            <th style="width:19%">Intervention</th>
            <th style="width:20%">Sectors Covered</th>
            <th style="width:8%">Assessment Type</th>
            <th style="width:12%">Tool</th>
            <th style="width:10%">Created Date</th>
            <th style="width:22%">Assessment Period</th>
          </tr>

        </ng-template>
        <ng-template pTemplate="body" let-assessList>
          <tr>
            <td>
              <p-tableCheckbox #e [value]="assessList"
                (click)="onCheckboxChange(e.checked, assessList.assessment.id)"></p-tableCheckbox>
            </td>
            <td>
              {{ assessList.assessment.climateAction.intervention_id }}
            </td>
            <td>
              {{ assessList.assessment.climateAction.policyName }}
            </td>
            <td>
              <span *ngFor="let sec of assessList.assessment.climateAction.policy_sector; let idx=index;">
                {{sec.sector.name}}<span *ngIf="idx !== assessList.assessment.climateAction.policy_sector.length-1">, </span>
              </span>
            </td>
            <td>
              {{ assessList.assessment.assessmentType }}
            </td>
            <td>
              {{ masterDataService.getToolName(assessList.assessment.tool) }}
            </td>
            <td>
              {{ assessList.assessment.createdOn | date:'dd/MM/yyyy' }} 
            </td>
            <td>
              {{ assessList.assessment.from | date:'dd/MM/yyyy' }} - {{ assessList.assessment.to | date:'dd/MM/yyyy'}}
            </td>
           

          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">No assessment found.</td>
          </tr>
        </ng-template>
      </p-table>

      <br>

      <div class="row justify-content-end">
        <div>

          <div class="d-flex flex-row-reverse  ">
            <button class="btn btn-primary text-uppercase" type="submit">
              Save
            </button>
          </div>
        </div>
      </div>


    </div>

  </form>

</div>
