<label for="q">{{question.label}}<i class="pi pi-info-circle" pTooltip="{{tooltip}}" tooltipPosition="top"
        style="font-size: 1rem"></i></label>

<div class="row p-2">
    <div class="col-4">
        <label for="ans">Answer</label>
    </div>
    <div class="col-8" *ngIf="question.answer_type === 'SINGLE' && showAnswer()">
        <p-dropdown placeholder="Select answer" [options]="answers" optionLabel="label"
            (onChange)="onSelectAnswer($event, question.answer_type)"> </p-dropdown>
    </div>
    <div class="col-8" *ngIf="question.answer_type === 'MULTI' && showAnswer() ">
        <p-multiSelect [options]="answers" optionLabel="label" [(ngModel)]="selectedAnswers"
            (onChange)="onSelectAnswer($event, question.answer_type)"> </p-multiSelect>
    </div>
    <div class="col-8" *ngIf="question.characteristic && approach === 'INDIRECT'">
        <p-dropdown name="institution" [options]="institutions" [(ngModel)]="selectedInstitution" #finstitution="ngModel"
            placeholder="Select an institution" optionLabel="name" (onChange)="onSelectAnswer($event, 'INDIRECT')"
            [required]="true"></p-dropdown>
    </div>
</div>
<div class="row p-2">
    <div class="col-4">Rationale</div>
    <div class="col-8">
        <textarea style="width: 100%;" pInputTextarea [rows]="5" wrap="hard" required maxlength="500"
            [(ngModel)]="comment" (change)="onSelectAnswer($event, 'COMMENT')"></textarea>
    </div>
</div>
<div class="row p-2">
    <div class="col-4"></div>
    <div class="col-8">
        <p-fileUpload name="files" [url]="uploadUrl" (onUpload)="onUpload($event,'FILE')" [multiple]="true" accept="image/*" [maxFileSize]="1000000">
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                </ul>
            </ng-template>
        </p-fileUpload>
    </div>
</div>