
.clickable-row {
  cursor: pointer;
}

.dialog-content {
  margin-top: 0;
  padding-top: 0;
}


.p-dialog .p-dialog-header {
  padding-top: 0rem !important;
  align-items: flex-start;
}

.p-dialog .p-dialog-header {
padding: 1.5rem !important;

}

.close-button {
  float: right;
}


.color-class-1 {
  background-color: #ef686a;
}

.color-class-2 {
  background-color:#feeb84;
}

.color-class-3 {
  background-color:#63be7b;
}

.color-class-21 {
  background-color: #ef686a;
}

.color-class-22 {
  background-color:#f5aa76;
}

.color-class-23 {
  background-color:#feeb84;
}

.color-class-24 {
  background-color:#b1d580;
}

.color-class-25 {
  background-color:#63be7b;
}


.color-class-31 {
  background-color: #ef686a;
}

.color-class-32 {
  background-color:#f5b3b4;
}

.color-class-33 {
  background-color:#ffffff;
}

.color-class-34 {
  background-color:#abc3e3;
}

.color-class-35 {
  background-color:#5a8ac6;
}

.default-color-class{
  background-color: rgb(242, 174, 205);
}




