<div class="container pl-20 pr-20">
  <div class="mb-12"> 
    <h4 class="mt-4">Manage users 
      <span (click)="watchVideo()" pTooltip="Click to watch guidance video"  class="infor-video" ><i class="pi pi-video" style=" font-size: 1em ;  margin-left: 1em;"></i></span>
    </h4>
  </div>
  
  <div class="p-grid p-fluid card">
    <div class="row mb-3">
      <div class="col-md-6">
        <div class="col-12">
          <div class="p-field">
            <label for="userType">User type
              
            </label>
            
          </div>

          <p-dropdown
            name="usertype1"
            appendTo="body"
            [(ngModel)]="searchBy.usertype"
            [options]="userTypes"
            #userType1="ngModel"
            [showClear]="true"
            [filter]="true"
            placeholder="Select"
            optionLabel="name"
            (ngModelChange)="onTypeChange($event)"
          >
          </p-dropdown>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-inputgroup pt-4">
          <input
            placeholder="Type your keyword"
            [(ngModel)]="searchBy.text"
            #nameInstitution="ngModel"
            type="text"
            name="nameInstitution"
            class="p-inputtext"
            pInputText
          />
          <button
            type="button"
            pButton
            pRipple
            label="Search"
            (click)="onSearch()"
          ></button>
        </div>
      </div>
    </div>

    <p-table
      [value]="customers"
      [lazy]="true"
      (onLazyLoad)="loadCustomers($event)"
      [paginator]="true"
      [rows]="rows"
      [showCurrentPageReport]="true"
      paginatorDropdownAppendTo="body"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[1, 10, 25, 50]"
      [totalRecords]="totalRecords"
      [loading]="loading"
      [ngStyle]="{'margin-bottom': itemsPerPage === 1?'100px':'unset'}"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>
            <div class="col-sm-2" style="width: 70.666667%">
              <button
                class="ml-4"
                type="button"
                (click)="new()"
                pButton
                pRipple
                icon="pi pi-plus"
                styleClass="p-button-warn"
              ></button>
            </div>
          </th>
          <th></th>
          <th>Type</th>
          <th>First name</th>
          <th>Institution</th>
     
          <th>Contact number</th>
          <th>Email</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
        <tr>
          <td>
            <button
              type="button"
              class="p-button-rounded p-button-text p-eye"
              pButton
              pRipple
              icon="pi pi-eye"
              (click)="viewUser(customer)"
            ></button>
            </td>
            <td>
            <button
            type="button"
            class="p-button-rounded p-button-text p-eye"
            pButton
            pRipple
            icon="pi pi-pencil"
            (click)="EditUser(customer)"
          ></button>
          </td>
          <td>{{ customer.userType?.name }}</td>
          <td>{{ customer.firstName }}</td>

          <td
            pTooltip="{{ customer.institution?.name }}"
            tooltipPosition="top"
            class="tbl-cell-description"
          >
            {{ customer.institution?.name }}
          </td>
          
          <td>{{ customer.mobile }}</td>

          <td
            pTooltip="{{ customer.email }}"
            tooltipPosition="top"
            class="tbl-cell-description"
          >
            <a href="mailto:{{ customer.email }}">{{ customer.email }}</a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
