<div class="container pl-20 pr-20">

  <div class="card" style="min-height: 600px;">
    <p-toast></p-toast>

    <div class="mb-12">
      <h4 class="mt-4">Assessments</h4>
    </div>

    <ng-container *ngIf="!load">
      <!-- Loading action -->
      <div class="text-center">
        <h4>Loading...</h4>
        <!-- You can add a loading spinner or any other loading animation here -->
      </div>
    </ng-container>

 <div *ngIf="load">
<p-table #dt2 [value]="results" [tableStyle]="{'min-width': '50rem'}"
          [paginator]="true"
          [rows]="13" [totalRecords]="results.length" [sortField]="'id'" [sortOrder]="-1"

[globalFilterFields]="['meth', 'method', 'approach', 'assessmentType', 'tool']">
  <ng-template pTemplate="caption">
    <div class="d-flex justify-content-end">
        <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="onInput($event, dt2)" placeholder="Search keyword" />
        </span>
    </div>
</ng-template>


  <ng-template pTemplate="header">
      <tr  style="height:4rem;">
<!--         <th pSortableColumn="id" >Id <p-sortIcon field="meth"></p-sortIcon></th> -->
          <th style="width:30%" pSortableColumn="meth" >Intervention <p-sortIcon field="meth"></p-sortIcon></th>
       <!--    <th pSortableColumn="method" >Assessment Method <p-sortIcon field="method"></p-sortIcon></th> -->
          <th  style="width:15%" pSortableColumn="approach">Assessment Approach <p-sortIcon field="approach"></p-sortIcon></th>
          <th  style="width:15%" pSortableColumn="assessmentType" >Assessment Type <p-sortIcon field="assessmentType"></p-sortIcon></th>
          <th  style="width:25%" pSortableColumn="tool" >Tool <p-sortIcon field="tool"></p-sortIcon></th>
          <th style="width:15%">Action</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-results>
      <tr>
       <!--  <td>{{results.id}}</td> -->
        <td>{{results.meth}}</td>
       <!--  <td>{{results.method}}</td> -->
       <td>{{ results.approach.charAt(0).toUpperCase() + results.approach.slice(1).toLowerCase() }}</td>
        <td>{{results.assessmentType}}</td>
        <td>{{results.tool}}</td>
        <td >
          <button pButton pRipple class="btn btn-primary btn-block text-uppercase" type='submit' (click)="myFunction(results.assessId, results.averageProcess, results.averageOutcome, results.tool,results.method )"> View</button>
        </td>

      </tr>
  </ng-template>
</p-table>
</div>







  </div>
</div>
