.chart-canvas {
  background: linear-gradient(to bottom left, rgba(0,255,0,0.5), rgba(255,255,0,0.5), rgba(255, 0, 0,0.5), rgba(255,0,0,1));
  padding: 30px;
  padding-bottom: 5px;

}
.first{
  height: 45px;
  width: 100%;
      /* fallback for old browsers */
        /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to right,  red, rgb(255, 191, 0),rgb(72, 255, 0));
  border: 1px solid rgb(52, 52, 52);

} 
.second{
  height: 44px;
  background-color:transparent;
  opacity: 1;
  border-right: 4px solid rgb(52, 52, 52);
  overflow: hidden;
}

.tc-value{
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 4.5vw;
  color: #2dcf89;
  font-weight: 700;
}



.table-header{
  text-align: center !important;
  font-size: 24px;
  color: black !important;
  background-color: white !important;
  border-color: transparent !important;
  font-weight: 600 !important;
}

.table-header-2{
  text-align: center !important;
  font-size: 18px;
  color: black !important;
  background-color: white !important;
  
  
}
.table-header-3{
  font-size: 18px;
  color: black !important;
  background-color: white !important;
}

