<!-- <div class="row" >
  <div class="col-md-5 col-12 d-flex align-items-stretch " >
      <div class="p-grid p-fluid card m-3">
        <div class="row text-center ">
          <h3>Transformational Change </h3>
          <h2 class="tc-value">{{averageTCValue}}%</h2>
          <div class="col-12  mt-5 " >

            <div class="first">
              <div class="second" [ngStyle]="{'width.%':averageTCValue}">

              </div>
              <div class="row justify-content-between ">
                <div class="col-4 mt-5"  align="left" >
                  <h5>Low</h5>
                </div>
                <div  align="right " class="col-4 mt-5">
                  <h5>High</h5>
                </div>
              </div>
              <div class="d-flex flex-row-reverse mt-10">
                <div  align="right " ><p class="fs-6">Average Transformational Change</p></div>

              </div>
            </div>
           </div>
      </div>
      </div>
  </div>
  <div class="col-md-7 col-12" >
      <div class="p-grid p-fluid card m-3 " >
          <div class="row text-center justify-content-center align-items-center" style="min-height: 8.5vw;">
            <div class="row justify-content-center align-items-center">
              <div class="col-9 text-center">
                <h3 >Average Process of Change Score</h3>
              </div>

              <div class="col-3">
                <br>
                <h2 style="color: #0000CD;">4.51</h2>
              </div>

            </div>
          </div>
      </div>

      <div class="p-grid p-fluid card m-3" >
        <div class="row text-center  justify-content-center align-items-center" style="min-height: 8.5vw;">
          <div class="row ">
            <div class="col-9">
              <h3 >Average Outcome of Change Score</h3>
            </div>

            <div class="col-3">
              <br>
              <h2 style="color: #0000CD;">4.51</h2>
            </div>

          </div>


        </div>
    </div>
  </div>

</div> -->

<div class="p-grid p-fluid card m-3">
  <div class="p-field p-2">
  </div>

  <div class="row">
    <div class="col-2 ">
      <p>Select Portflolio : </p>
    </div>

    <div class="col-4 ">
      <p-dropdown appendTo="body" name="portfolio" placeholder="Select Portfolio" [(ngModel)]="selectedPortfolio"
        appendTo="body" [options]="portfolioList" optionLabel="portfolioName"
        (onChange)="selectPortfolio($event)"></p-dropdown>
    </div>

    <div class="col-6 ">
    </div>
  </div>
</div>

<div class="p-grid p-fluid card m-3">
  <div class="row text-center ">
    <h3>Transformational Change of Interventions</h3>

    <div class="row">
      <div class="col-6 ">
        <canvas class="chart-canvas" #myCanvas></canvas>
      </div>

      <div class="col-6 ">
        <canvas class="chart-canvas" #myCanvas2></canvas>
      </div>
    </div>
  </div>
</div>

<div class="p-grid p-fluid card m-3">
  <div class="row">

    <div class="col-12  mt-20 ml-10">

      <div *ngIf="!loadSelectedTable">
        <h3>Recent Assessments Done</h3>

        <p-table [value]="calResults" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [rowsPerPageOptions]="[5, 10, 20]">

          <ng-template pTemplate="header">

            <tr>
              <th colspan="1" class="table-header"></th>
              <th colspan="2" class="table-header">Process</th>
              <th colspan="2" class="table-header">Outcomes</th>
            </tr>



            <tr>
              <th class="table-header-3">Intervention Name</th>
              <th class="table-header-2">Relevence</th>
              <th class="table-header-2">Likelihood</th>
              <th class="table-header-2">Scaled</th>
              <th class="table-header-2">Sustained</th>

            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-calResults>
            <tr>
              <td>{{
                calResults?.assesment?.climateAction?.policyName?calResults?.assesment?.climateAction?.policyName:'-' }}
              </td>
              <td style="text-align: center">{{ calResults?.relevance==null?'-':calResults?.relevance }}</td>
              <td style="text-align: center">{{ calResults?.likelihood==null?'-':calResults?.likelihood }}</td>
              <td style="text-align: center">{{ calResults?.scaleScore==null?'-':calResults?.scaleScore }}</td>
              <td style="text-align: center">{{ calResults?.sustainedScore==null?'-':calResults?.sustainedScore }}</td>
            </tr>
          </ng-template>

        </p-table>
      </div>




    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-12 d-flex align-items-stretch">
      <div class="p-grid p-fluid card m-3">
        <div class="row text-center ">
          <h3>Expected GHG mitigation of portfolios</h3>
          <div class="col-12  mt-20 "  >
              <!-- <canvas   id="portfolioBarChart">{{portfolioBarChart}}</canvas> -->
              <canvas  #portfolioBarChart></canvas>
           </div>
      </div>
      </div>
  </div>
  <div class="col-md-6 col-12 d-flex align-items-stretch">
      <div class="p-grid p-fluid card m-3">
          <div class="row text-center ">
              <h3>Frequency of SDGs</h3>
              <div class="col-12  mt-20 "  >
                  <!-- <canvas   id="portfolioBarChart">{{portfolioBarChart}}</canvas> -->
               </div>
          </div>
      </div>
  </div>

</div>
