<div class="p-grid p-fluid card mt-20 m-3">
    <div class="row text-center ">
        <h3>Transformational Change of Interventions by Investment</h3>
        <div class="col-12  mt-20 ml-10 chart-container"  style="max-height: 600px;">
            <canvas  id="canvas">{{chart}}</canvas>
         </div>
     </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="p-grid p-fluid card m-3">
            <div class="row text-center ">
                <h3>Transformational Change </h3>
                <div class="col-12  mt-20 ml-10" >
                   
                 </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="p-grid p-fluid card mt-3">
            <div class="row text-center ">
                <h3>Sectors Target</h3>
                <div class="col-12  mt-20 ml-10" >
                   
                 </div>
            </div>
        </div>
    </div>

</div>
<div class="p-grid p-fluid card m-3">
    <div class="row text-center ">
        <h3>Transformational Change of Interventions</h3>
        <div class="col-12  mt-20 ml-10" >
           
         </div>
    </div>
</div>
<div class="p-grid p-fluid card m-3">
    <div class="row">
        <h3>Comparison of Interventions</h3>
       
     </div>
</div>