<div class="p-grid p-fluid card mt-20 m-3">
    <div class="row text-center ">
        <h3>Transformational Change of Interventions by Investment</h3>
        <div class="col-12  mt-20 ml-10 chart-container"  style="max-height: 600px;">
            <canvas  id="canvas">{{chart}}</canvas>
        </div>
     </div>
</div>
<div class="row">
    <div class="col-md-5 col-12 d-flex align-items-stretch">
        <div class="p-grid p-fluid card m-3">
            <div class="row text-center ">
                <h3>Transformational Change </h3>
                <h2 class="tc-value">{{averageTCValue}}%</h2>
                <div class="col-12  mt-20 " >
                  <!-- <p-progressBar [value]="value" [style]="{ 'height': '20px' }" ></p-progressBar>
  
                  <ng-template #displayTemplate let-value>
                    <div class="progress-value">{{ value }}%</div>
                  </ng-template> -->
                  <div class="first">
                    <div class="second" [ngStyle]="{'width.%':averageTCValue}">
                      
                    </div>
                    <div class="row justify-content-between ">
                      <div class="col-4 mt-25"  align="left" >
                        <h5>Low</h5>
                      </div>
                      <div  align="right " class="col-4 mt-25">
                        <h5>High</h5>
                      </div>
                    </div>
                    <div class="d-flex flex-row-reverse mt-60">
                      <div  align="right " ><p class="fs-6">Average Transformational Change</p></div>
                      
                    </div>
                  </div>
                 </div>
            </div>
        </div>
    </div>
    <div class="col-md-7 col-12 d-flex align-items-stretch">
        <div class="p-grid p-fluid card m-3">
            <div class="row text-center ">
                <h3>Sectors Targeted</h3>
                <div class="col-12  mt-20 "  >
                    <canvas   id="pieChart2">{{pieChart2}}</canvas>
                 </div>
            </div>
        </div>
    </div>

</div>
<div class="p-grid p-fluid card m-3">
    <div class="row text-center ">
        <h3>Transformational Change of Interventions</h3>
    
        <div class="row">
        <div class="col-6 " >
          <canvas class="chart-canvas" #myCanvas></canvas>
         </div>
    
         <div class="col-6 " >
          <canvas class="chart-canvas" #myCanvas2></canvas>
         </div>
        </div>
    </div>
</div>
<div class="p-grid p-fluid card m-3">
    <div class="row">
        <h3>Recent Assessments Done</h3>
        <div class="col-12  mt-20 ml-10" >

          <p-table
            [value]="calResults"
            [paginator]="true"
            [rows]="5"
            [showCurrentPageReport]="true"
            
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[5, 10, 20]">
          
          <ng-template pTemplate="header">
           
          <tr>  
              <th colspan="1" class="table-header"></th>
              <th colspan="2" class="table-header">Process</th>
              <th colspan="2" class="table-header">Outcomes</th>
          </tr>
        
            
         
              <tr>
                  <th class="table-header-3">Intervention Name</th>
                  <th class="table-header-2">Relevence</th>
                  <th class="table-header-2">Likelihood</th>
                  <th class="table-header-2">Scaled</th>
                  <th class="table-header-2">Sustained</th>

              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-calResults>
              <tr>
                  <td>{{ calResults?.assesment?.climateAction?.policyName?calResults?.assesment?.climateAction?.policyName:'-' }}</td>
                  <td style="text-align: center">{{ calResults?.relevance==null?'-':calResults?.relevance }}</td>
                  <td style="text-align: center">{{ calResults?.likelihood==null?'-':calResults?.likelihood  }}</td>
                  <td style="text-align: center">{{ calResults?.scaleScore==null?'-':calResults?.scaleScore  }}</td>
                  <td style="text-align: center">{{ calResults?.sustainedScore==null?'-':calResults?.sustainedScore }}</td>
              </tr>
          </ng-template>
      <!--     <ng-template pTemplate="paginatorleft">
              <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
          </ng-template> -->
<!--                 <ng-template pTemplate="paginatorright">
              <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
          </ng-template> -->
      </p-table>
         </div>
     </div>
</div>

