<div class="container pl-20 pr-20">

  <div class="mb-12">
    <h4 class="mt-4"> Methodology Assessment </h4>
  </div>


  <div class="card" style="min-height: 600px;">

    <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">

      <div class="row">

        <div class="p-grid p-fluid col-md-6 col-sm-12">



          <div class="row p-2">
            <div class="col-12 col-md-8">
              <div class="p-field">
                <label for="policy">Interventions</label>
                <select class="form-control select-with-arrow" (change)="onChange($event)" ngModel name="policy"
                  id="exampleFormControlSelect1">
                  <option value="" disabled selected hidden>Select Intervention</option>
                  <option *ngFor="let policy of policyList" [value]="policy.policyName">{{policy.policyName}}</option>
                </select>



              </div>
            </div>
          </div>





          <div class="row p-2">
            <div class="col-12 col-md-8">
              <div class="p-field">
                <label for="methodology">Methodology</label>
                <select class="form-control select-with-arrow" ngModel name="methodology" id="exampleFormControlSelect1">
                  <option value="" disabled selected hidden>Select Methodology</option>
                  <option *ngFor="let methodology of methList" [value]="methodology">{{methodology}}</option>
                </select>



              </div>
            </div>
          </div>


          <div *ngIf="selectedType === 'TC Uganda Geothermal'" class="form-group">


            <br><br>
            <h5>Processess of change</h5>
            <div class="row p-2">
              <div class="col-12 col-md-8">
                <div class="p-field">
                  <label for="UprosesCat">Categories:</label>
                  <p-multiSelect name="UprosesCat" [options]="meth1Process" [(ngModel)]="selectedItems"
                    (onChange)="onItemSelect($event)" defaultLabel="Select Categories"
                    optionLabel="name"></p-multiSelect>

                </div>
              </div>
            </div>



            <div class="row p-2">
              <div class="col-12 col-md-8">
                <div class="p-field">
                  <div *ngFor="let category of selectedItems"><br><br>
                    <h6>{{category.name}}</h6>
                    <label for="characteristics">
                      <p style="font-size: medium; font-weight: bold;">Characteristics:</p>
                    </label>
                    <div *ngFor="let characteristic of getCategory(characteristics, category.name)">
                      <input type="checkbox" name="{{category.name}}_{{characteristic.name}}" ngModel>&nbsp;
                      &nbsp;{{characteristic.name}}<br>
                      <label for="{{category.name}}_{{characteristic.name}}_relevance">Relevance: &nbsp; &nbsp;</label>
                      <select id="{{characteristic.name}}_relevance"
                        name="{{category.name}}_{{characteristic.name}}_relevance" ngModel>
                        <option value="relevant">Relevant</option>
                        <option value="not_relevant">Not Relevant</option>
                        <option value="possible_relevant">Possible Relevant</option>
                      </select><br>
                      <label for="{{category.name}}_{{characteristic.name}}_score">Score: &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp;</label>
                      <input type="number" name="{{category.name}}_{{characteristic.name}}_score" ngModel
                        placeholder="Score"> <br> <br>
                    </div>

                  </div>
                </div>
              </div>
            </div>



            <br><br>
            <h5>Outcomes of change</h5>
            <div class="row p-2">
              <div class="col-12 col-md-8">
                <div class="p-field">
                  <label for="uoutcomecat">Categories:</label>

                  <p-multiSelect name="uoutcomecat" [options]="meth1Outcomes" [(ngModel)]="selectedItems2"
                    (onChange)="onItemSelect2($event)" defaultLabel="Select Categories"
                    optionLabel="name"></p-multiSelect>
                </div>
              </div>
            </div>


            <div class="row p-2">
              <div class="col-12 col-md-8">
                <div class="p-field">
                  <div *ngFor="let category of selectedItems2"><br><br>
                    <h6>{{category.name}}</h6>
                    <label for="characteristics">
                      <p style="font-size: medium; font-weight: bold;">Characteristics:</p>
                    </label>
                    <div *ngFor="let characteristic of getCategory(characteristics, category.name)">
                      <input type="checkbox" name="{{category.name}}_{{characteristic.name}}" ngModel>&nbsp;
                      &nbsp;{{characteristic.name}}<br>
                      <label for="{{category.name}}_{{characteristic.name}}_relevance">Relevance: &nbsp; &nbsp;</label>
                      <select id="{{characteristic.name}}_relevance"
                        name="{{category.name}}_{{characteristic.name}}_relevance" ngModel>
                        <option value="relevant">Relevant</option>
                        <option value="not_relevant">Not Relevant</option>
                        <option value="possible_relevant">Possible Relevant</option>
                      </select><br>
                      <label for="{{category.name}}_{{characteristic.name}}_score">Score: &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp;</label>
                      <input type="number" name="{{category.name}}_{{characteristic.name}}_score" ngModel
                        placeholder="Score"> <br> <br>
                    </div>

                  </div>
                </div>
              </div>
            </div>



          </div> 
          <div *ngIf="selectedType === 'TC NACAG Initiative'" class="form-group">

            <br><br>
            <h5>Processess of change</h5>
            <div class="row p-2">
              <div class="col-12 col-md-8">
                <div class="p-field">
                  <label for="nprocescat">Categories:</label>

                  <p-multiSelect name="nprocescat" [options]="meth1Process" [(ngModel)]="selectedItems3"
                    (onChange)="onItemSelect3($event)" defaultLabel="Select Categories"
                    optionLabel="name"></p-multiSelect>
                </div>
              </div>
            </div>


            <div class="row p-2">
              <div class="col-12 col-md-8">
                <div class="p-field">
                  <div *ngFor="let category of selectedItems3"><br><br>
                    <h6>{{category.name}}</h6>

                    <label for="{{category.name}}_catscore">Category Score: &nbsp;</label>
                    <input type="number" name="{{category.name}}_catscore" ngModel placeholder="Score"> <br> <br>

                    <label for="characteristics">
                      <p style="font-size: medium; font-weight: bold;">Characteristics:</p>
                    </label>
                    <div *ngFor="let characteristic of getCategory(characteristics, category.name)">
                      <input type="checkbox" name="{{category.name}}_{{characteristic.name}}" ngModel>&nbsp;
                      &nbsp;{{characteristic.name}}<br>
                      <label for="{{category.name}}_{{characteristic.name}}_relevance">Relevance: &nbsp; &nbsp;</label>
                      <select id="{{characteristic.name}}_relevance"
                        name="{{category.name}}_{{characteristic.name}}_relevance" ngModel>
                        <option value="relevant">Relevant</option>
                        <option value="not_relevant">Not Relevant</option>
                        <option value="possible_relevant">Possible Relevant</option>
                      </select><br>
                      <label for="{{category.name}}_{{characteristic.name}}_score">Score: &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp;</label>
                      <input type="number" name="{{category.name}}_{{characteristic.name}}_score" ngModel
                        placeholder="Score"> <br> <br>
                    </div>

                  </div>
                </div>
              </div>
            </div>



            <br><br>
            <h5>Outcomes of change</h5>
            <div class="row p-2">
              <div class="col-12 col-md-8">
                <div class="p-field">
                  <label for="noutcat">Categories:</label>

                  <p-multiSelect name="noutcat" [options]="meth1Outcomes" [(ngModel)]="selectedItems4"
                    (onChange)="onItemSelect4($event)" defaultLabel="Select Categories"
                    optionLabel="name"></p-multiSelect>

                </div>
              </div>
            </div>



            <div class="row p-2">
              <div class="col-12 col-md-8">
                <div class="p-field">
                  <div *ngFor="let category of selectedItems4"><br><br>
                    <h6>{{category.name}}</h6>

                    <label for="{{category.name}}_catscore">Category Score: &nbsp;</label>
                    <input type="number" name="{{category.name}}_catscore" ngModel placeholder="Score"> <br> <br>

                    <label for="characteristics">
                      <p style="font-size: medium; font-weight: bold;">Characteristics:</p>
                    </label>
                    <div *ngFor="let characteristic of getCategory(characteristics, category.name)">
                      <input type="checkbox" name="{{category.name}}_{{characteristic.name}}" ngModel>&nbsp;
                      &nbsp;{{characteristic.name}}<br>
                      <label for="{{category.name}}_{{characteristic.name}}_relevance">Relevance: &nbsp; &nbsp;</label>
                      <select id="{{characteristic.name}}_relevance"
                        name="{{category.name}}_{{characteristic.name}}_relevance" ngModel>
                        <option value="relevant">Relevant</option>
                        <option value="not_relevant">Not Relevant</option>
                        <option value="possible_relevant">Possible Relevant</option>
                      </select><br>
                      <label for="{{category.name}}_{{characteristic.name}}_score">Score: &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp;</label>
                      <input type="number" name="{{category.name}}_{{characteristic.name}}_score" ngModel
                        placeholder="Score"> <br> <br>
                    </div>

                  </div>
                </div>
              </div>
            </div>



          </div>

        </div>


      </div>



      <div class="d-flex flex-row-reverse mt-2 mb-2">
        <button pButton pRipple class="btn btn-primary btn-block text-uppercase" type='submit'>
          Submit
        </button>

      </div>
    </form>

    <div *ngIf="averageOutcome">
      <h4>Results</h4> <br>
      <h6>Average Process : {{ averageProcess }}</h6> <br>
      <h6>Average Outcome : {{ averageOutcome }}</h6> <br>


      <app-chart [averageOutcome]="averageOutcome" [averageProcess]="averageProcess"></app-chart>

    </div>




    <div class="row">
      <div class="p-grid p-fluid col-md-6 col-sm-12">

  <div *ngIf="assessmentId">


    <div class="row p-2">
      <div class="col-12 col-md-8">
        <div class="p-field">
          <label for="category-select">Select Characteristics Affected By Barriers:</label>
          <p-multiSelect [options]="relevantChaList" [(ngModel)]="selectChaAffectByBarriers" (onChange)="onItemSelectcha($event)" defaultLabel="Select Characteristics" optionLabel="name"></p-multiSelect>
          <button type="submit" (click)="submitForm()">Submit</button>
        </div>
      </div>
    </div>

          <div *ngIf="trigger">

            <div class="row p-2">
              <div class="col-12 col-md-8">
                <div class="p-field">


          <div *ngFor="let characteristic of selectChaAffectByBarriers"><br><br>
            <input type="checkbox" name="{{characteristic.name}}_barrier" ngModel>&nbsp; &nbsp;{{characteristic.name}}<br>

            <select class="form-control select-with-arrow" [(ngModel)]="characteristic.indicator" >
              <option value="" disabled selected hidden>Select Indicator</option>
              <option *ngFor="let indicator of handleSelectedCharacteristic(characteristic.name)" [value]="indicator.name">{{indicator.name}}</option>
            </select>


        </div>
      </div>
    </div>




  </div>
