<div class="container pl-20 pr-20">
    <h4 class="mt-4"> Request Data </h4>
    <div class="p-grid p-fluid card">
      <div class="row mb-3">
        <p-tabView  (onChange)="onMainTabChange($event) " [(activeIndex)]="activeIndexMain ">
          <p-tabPanel  [header]="masterDataService.getToolName('CARBON_MARKET')">
            
          </p-tabPanel>
          <p-tabPanel  [header]="masterDataService.getToolName('PORTFOLIO')">
            
          </p-tabPanel>
          <p-tabPanel  [header]="masterDataService.getToolName('INVESTOR')">
            
          </p-tabPanel>
        </p-tabView>

      </div>
      <div class="row mb-3">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="p-inputgroup pt-4">
            <input
              placeholder="Type Your Keyword"
              type="text"
              class="p-inputtext"
              [(ngModel)]="searchBy.text"
              pInputText
            />
            <button
              type="button"
              pButton
              pRipple
              label="Search"
              (click)="onSearchClick($event)"
            ></button>
          
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-4">
          <div class="col-12">
            <div class="p-field">
              <!--climateactions-->
              <label for="projStatus">Intervention </label>
              <!-- <p-dropdown
                name="climateActiontype"
                [options]="dataReqAssignCA"
                [(ngModel)]="searchBy.climateaction"
                #fsector="ngModel"
                [showClear]="true"
                [filter]="true"
                placeholder="Select .."
                optionLabel="climateActionName"
                (ngModelChange)="onCAChange($event)"
              >
              </p-dropdown> -->
              <p-dropdown
                name="climateActiontype"
                [options]="dataReqAssignCA"
                [(ngModel)]="searchBy.climateaction"
                #fsector="ngModel"
                [showClear]="true"
                [filter]="true"
                placeholder="Select .."
                optionLabel="policyName"
              >
              </p-dropdown>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="p-field">
            <label for="projYear">Assessment Type</label>
            <p-dropdown
              name="projYear"
              [(ngModel)]="searchBy.year"
              #fsector="ngModel"
              [showClear]="true"
              [filter]="true"
              placeholder="Select .."
              [options]="assessment_types"
              optionLabel="name"
              optionValue="name" 
              (ngModelChange)="onYearChange($event)"
            >
            </p-dropdown>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="p-field">
            <label for="projStatus">Data Provider</label>
            <p-dropdown
              name="institutiontype"
              [options]="instuitutionList"
              [(ngModel)]="searchBy.institution"
              #fsector="ngModel"
              [showClear]="true"
              [filter]="true"
              placeholder="Select .."
              optionLabel="name"
              (ngModelChange)="onInstitutionChange($event)"
            >
            </p-dropdown>
          </div>
        </div>
      </div>
  
      <!-- <div> {{climateactions|json}} </div> -->
  
      <div class="row p-2" style="margin-bottom: 36px;">
        <p-table
          #table
          [value]="dataRequestList"
          [lazy]="true"
          (onLazyLoad)="loadgridData($event)"
          [paginator]="true"
          [rows]="rows"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [rowsPerPageOptions]="[10, 25, 50]"
          [totalRecords]="totalRecords"
          [loading]="loading"
          [responsive]="true"
          [(selection)]="selectedParameters"
        >
          <!-- Table header start search -->
  
          <!-- <p-table #tt [value]="climateactions" [columns]="cols" placeholder="Global Filter" [filter]="true" filterMatchMode="contains" >                                                          
        <ng-template pTemplate="caption">
            <div style="text-align: right">        
                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" style="width:auto">
            </div>
        </ng-template> -->
  
          <!-- Table header END Search -->
  
          <ng-template pTemplate="header">
            <!-- <tr> 
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
              <input *ngSwitchCase="'climateActionName'" pInputText type="text"
                (input)="dt.filter($event.target.value, col.field, 'contains')" />
            </th>
          </tr> -->
  
            <tr>
              <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th >Intervention</th>
              <th >Assessment Type</th>
              
              <ng-container *ngIf="tabIndex==1||tabIndex==2" >
                <th >Assessment Period</th>
              </ng-container>
                <th>Process/Outcome</th>
                <th>Category</th>
                <th>Characteristic</th>
                <th>Indicator/Score</th>
              <ng-container *ngIf="tabIndex==0" >
                <!-- <th>Question</th> -->
                
              </ng-container>
              <th >Data Provider</th>
              <th>Deadline</th>
              <th>Status</th>
              <th >Info</th>

            
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-dataRequestList>
            <tr>
              <td>
                <p-tableCheckbox [value]="dataRequestList"> </p-tableCheckbox>
              </td>
             
              
             <ng-container *ngIf="tabIndex==1||tabIndex==2" >
              <td>
                <div
                  class="might-overflow"
                  [pTooltip]="
                    dataRequestList?.investmentParameter?.assessment?.climateAction?.policyName
                     
                  "
                  tooltipPosition="top"
                >
                  {{
                    dataRequestList?.investmentParameter?.assessment?.climateAction?.policyName
                  }}
                </div>
              </td>
              <td>
                {{  dataRequestList?.investmentParameter?.assessment?.assessmentType}}
              </td>
              <td>
                {{  dataRequestList?.investmentParameter?.assessment?.from | date: "dd-MM-yyyy " }} - {{ dataRequestList?.investmentParameter?.assessment?.to | date: "dd-MM-yyyy "}}
              </td>
              <td>{{ dataRequestList?.investmentParameter?.type}}</td>
              <td>{{ dataRequestList?.investmentParameter?.category?.name}}</td>
              <td>{{ dataRequestList?.investmentParameter?.characteristics?.name}}</td>
              <td>{{ (dataRequestList?.investmentParameter?.question) ?(dataRequestList?.investmentParameter?.question?.name): (dataRequestList?.investmentParameter?.institutionDescription)}}</td>
              <td>
                <div
                  class="might-overflow"
                  [pTooltip]="dataRequestList.investmentParameter?.institution?.name"
                  tooltipPosition="top"
                >
                  {{
                    dataRequestList.investmentParameter?.institution?.name
                      
                  }}
                </div>
  
                <button
                  pRipple
                  class="fas fa-plus"
                  pButton
                  type="button"
                  style="background-color: #c6cfd7; border-color: transparent"
                  (click)="showDataProviders(dataRequestList)"
                >
                  <i
                    class="pi pi-pencil"
                    style="font-size: 1rem; color: rgb(255, 255, 255)"
                  ></i>
                </button>
              </td>
              </ng-container>
              <ng-container *ngIf="tabIndex==0" >
                <td>
                  <div
                    class="might-overflow"
                    [pTooltip]="
                      dataRequestList?.cmAssessmentAnswer?.assessment_question?.assessment?.climateAction?.policyName
                       
                    "
                    tooltipPosition="top"
                  >
                    {{
                      dataRequestList?.cmAssessmentAnswer?.assessment_question?.assessment?.climateAction?.policyName
                    }}
                  </div>
                </td>
                <td>
                  {{  dataRequestList?.cmAssessmentAnswer?.assessment_question?.assessment?.assessmentType}}
                </td>
                <td>
                  {{dataRequestList?.cmAssessmentAnswer?.assessment_question?.characteristic?.category?.type}}
                </td>
                <td>
                  {{dataRequestList?.cmAssessmentAnswer?.assessment_question?.characteristic?.category?.name}}
                </td>
                <td>
                  {{dataRequestPathService.mapCharacteristic(dataRequestList?.cmAssessmentAnswer?.assessment_question?.characteristic)}}
                </td>
                <td *ngIf="dataRequestList?.cmAssessmentAnswer?.assessment_question?.question">
                {{  dataRequestList?.cmAssessmentAnswer?.assessment_question?.question?.label}}
                </td>
                <td *ngIf="!dataRequestList?.cmAssessmentAnswer?.assessment_question?.question">Score</td>
                <td>
                  <div
                    class="might-overflow"
                    [pTooltip]="dataRequestList?.cmAssessmentAnswer?.institution?.name"
                    tooltipPosition="top"
                  >
                    {{
                      dataRequestList?.cmAssessmentAnswer?.institution?.name
                        
                    }}
                  </div>
    
                  <button
                    pRipple
                    class="fas fa-plus"
                    pButton
                    type="button"
                    style="background-color: #c6cfd7; border-color: transparent"
                    (click)="showDataProviders(dataRequestList)"
                  >
                    <i
                      class="pi pi-pencil"
                      style="font-size: 1rem; color: rgb(255, 255, 255)"
                    ></i>
                  </button>
                </td>
                
              </ng-container>
              <!-- data provider -->
              <td>{{ dataRequestList.deadline | date: "dd-MM-yyyy " }}</td>
              <td>
                {{
                  dataRequestList.dataRequestStatus ==null ? "Just Created" : ""
                }}
                {{ dataRequestList.dataRequestStatus == 1 ? "Saved" : "" }}
                {{ dataRequestList.dataRequestStatus == 30 ? "Rejected(QC)" : "" }}
                {{ dataRequestList.dataRequestStatus == -6? "Rejected(IA)" : "" }}
              </td>
            
              <td>
                <i
                  class="pi pi-ellipsis-v"
                  style="font-size: 2rem"
                  (click)="getInfo(dataRequestList)"
                ></i>
              </td>
              <!-- <td>{{ dataRequestList.id }}</td> -->
            </tr>
          </ng-template>
        </p-table>
        <div class="col-md-3 offset-9">
          <button
            class="mt-2"
            type="button"
            pButton
            pRipple
            label="Request"
            (click)="onSendClick()"
          ></button>
        </div>
      </div>
    </div>
    
  </div>
  <p-toast position="top-right"></p-toast>
  <p-dialog [(visible)]="confirm1" header="Assign a Deadline">
    <div class="container" style="width: 600px; height: 500px">
      <table>
        <tr>
          <td colspan="3">
            <div class="p-field mb-2">
              <label for="projStatus" style="padding-right: 5px">Deadline</label>
              <p-calendar
                [minDate]="minDate"
                [(ngModel)]="selectedDeadline"
                placeholder="DD/MM/YYYY"
                dateFormat="dd/mm/yy"
              ></p-calendar>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="p-field">
              <button
                type="button"
                pButton
                pRipple
                label="Save"
                (click)="onClickSend(1)"
                style="width: 100px"
              ></button>
              <!-- <p-toast position="top-right"></p-toast> -->
            </div>
          </td>
          <td>
            <div class="p-field">
              <button
                type="button"
                style="width: 100px"
                pButton
                pRipple
                label="Send Now"
                (click)="onClickSend(2)"
              ></button>
              <!-- <p-toast position="top-right"></p-toast> -->
            </div>
          </td>
          <td>
            <div class="p-field"></div>
          </td>
        </tr>
      </table>
    </div>
  </p-dialog>
  
  <p-dialog
    header=""
    [(visible)]="displayHistory"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
  >

  <ng-container *ngIf="tabIndex === 0">
    <h6>More Details</h6>
    <p *ngIf="category && ['SUSTAINED_SD', 'SCALE_SD'].includes(category)">SDG: {{sdg}}</p>
    <p *ngIf="category && ['SCALE_SD'].includes(category)">SDG Indicator: {{indicator}}</p>
    <p *ngIf="category && ['SCALE_GHG', 'SCALE_SD'].includes(category)">Starting situation: {{startingSituation}}</p>
    <p *ngIf="category && ['SCALE_GHG', 'SCALE_SD'].includes(category)">Expected impact: {{expectedImpact}}</p>
    <p>Justification: {{justification}}</p>
  </ng-container>
    <!-- <app-raise-concern
      [area]="raiseConcernSection"
      [verificationDetails]="concernVerificationDetails"
      [assesmentYear]="assementYear"
      [isNdC]="concernIsNdC"
      [isMethodology]="concernIsMethodology"
    ></app-raise-concern> -->
    <h6>Data Request History</h6>
    <app-view-datarequest-history
      [parameterId]="paraId"
      [listOfHistory]="requestHistoryList"
    >
    </app-view-datarequest-history>
  </p-dialog>
  <p-dialog
  header="Change Data Provider"
  [(visible)]="displayDataProvider"
  [dismissableMask]="true"
  [modal]="true"
  (onHide)="cancelDataProviders()"
  [draggable]="false"
  [resizable]="true"
>
  <!-- <div class="p-field p-col-12 p-md-4">
  <span class="p-float-label">
    
    <label>{{selectedParameter?.name}}</label>
  </span>
</div> -->
  <p-card
    [style]="{ width: '360px' }"
    styleClass="p-card-shadow"
  >
    <ng-template pTemplate="header"> </ng-template>
    <p-listbox
      [options]="dataProviderList"
      [(ngModel)]="selectedDataProvider"
      [metaKeySelection]="false"
      [checkbox]="true"
      [filter]="true"
      [listStyle]="{ 'max-height': '250px' }"
      optionLabel="name"
    >
      <!-- <ng-template let-country pTemplate="item">
        <div class="country-item">
            <div>{{country.name}}</div>
        </div>
    </ng-template> -->
    </p-listbox>
    <small *ngIf="selectDataProvider" class="p-error"
      >Please select Data provider.</small
    >
    <ng-template pTemplate="footer">
      <div class="d-flex flex-row-reverse">
        <p-button
          label="Update"
          (onClick)="updateDataProviders()"
          icon="pi pi-check"
        ></p-button>
        <p-button
          label="Cancel"
          (onClick)="cancelDataProviders()"
          icon="pi pi-times"
          styleClass="p-button-secondary"
          [style]="{ 'margin-right': '.5em' }"
        ></p-button>
      </div>
      <!-- <p-button label="Save" icon="pi pi-check"></p-button>
      <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button> -->
    </ng-template>
  </p-card>
</p-dialog>
  <p-dialog
    header="Change alternativity"
    [(visible)]="parameterDisplay"
    [dismissableMask]="true"
    [modal]="true"
    (onHide)="cancelDataProviders()"
    [draggable]="false"
    [resizable]="true"
  >
    <p-card [style]="{ width: '360px' }" styleClass="p-card-shadow">
      <span style="font-size: 16px"><b>Parent Parameter</b></span>
      <p-listbox
        [options]="parentParameter"
        optionLabel="name"
        emptyMessage="No alternative parameters"
        [style]="{ 'margin-bottom': '20px' }"
      ></p-listbox>
      <span style="font-size: 16px"><b>Alternative Parameter</b></span>
      <p-listbox
        [options]="childParameter"
        optionLabel="name"
        emptyMessage="No alternative parameters"
        class="alternative"
      ></p-listbox>
  
      <ng-template pTemplate="footer">
        <div class="d-flex flex-row-reverse">
          <p-button
            [disabled]="disableButton"
            [label]="
              isAlternative ? 'Deactivate Alternative' : 'Activate Alternative'
            "
            (onClick)="activateAlternativity(isAlternative)"
            icon="pi pi-check"
          ></p-button>
          <p-button
            label="Cancel"
            (onClick)="cancelDataProviders()"
            icon="pi pi-times"
            styleClass="p-button-secondary"
            [style]="{ 'margin-right': '.5em' }"
          ></p-button>
        </div>
        <!-- <p-button label="Save" icon="pi pi-check"></p-button>
        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button> -->
      </ng-template>
    </p-card>
  </p-dialog>
  