<div class="row align-items-center" style="height: 100vh;">
    
    <div class="mx-auto col-10 col-md-8 col-lg-6">
        <div class="text-center">
            <h3> Register</h3>
        </div>
        <form #fData="ngForm" (ngSubmit)="login(fData)">
            <div class="form-group mb-25">
                <label class="font-weight-bold">First name</label>
                <input required type="text" #firstName="ngModel" name="fName" [(ngModel)]="fName" placeholder="First name"
                    class="form-control" />
                <p class="info-message text-danger" *ngIf="
                          (firstName.errors?.['required'] && (firstName.touched || firstName.dirty)) ||
                          (firstName.errors?.['required']) && isSubmitted">
                    First name is required
                </p>
            </div>
            <div class="form-group mb-25">
                <label class="font-weight-bold">Last name</label>
                <input required type="text" #lastname="ngModel" name="lName" [(ngModel)]="lName" placeholder="Last name"
                    class="form-control" />
                <p class="info-message text-danger" *ngIf="
                          (lastname.errors?.['required'] && (lastname.touched || lastname.dirty)) ||
                          (lastname.errors?.['required']) && isSubmitted">
                    Last name is required
                </p>
            </div>
            <div class="form-group mb-25">
                <label class="font-weight-bold">Email</label>
                <input type="email" required #fuserName="ngModel" name="email" [(ngModel)]="email" placeholder="Email"
                    class="form-control" email="true"/>
                <p class="info-message text-danger" *ngIf="
                          (fuserName.errors?.['required'] && (fuserName.touched || fuserName.dirty)) ||
                          (fuserName.errors?.['required']) && isSubmitted"
                          >
                    Email is required
                </p>
                <p class="info-message text-danger" *ngIf="fuserName.errors?.[email]"
               Email address is not valid.
                >
          Email is required
      </p>
            </div>
           
            <div class="form-group mb-15">
                <label class="font-weight-bold">Password</label>
                <br>
                <span class="p-input-icon-right col-12" >
                    <i *ngIf="passwordType=='password'" class="pi pi-eye pass-icon" (click)="togglePassword()"></i>
                    <i *ngIf="passwordType=='text'" class="pi pi-eye-slash pass-icon" (click)="togglePassword()"></i>
                    <input required pInputText [type]="passwordType" #fpassowrd="ngModel" name="RegPassword" [(ngModel)]="RegPassword"
                        placeholder="Password" class="form-control" />
                </span>
                <p class="info-message text-danger" *ngIf="
                        (fpassowrd.errors?.['required'] && (fpassowrd.touched || fpassowrd.dirty)) ||
                        (fpassowrd.errors?.['required'] && isSubmitted  )">
                    Password is required
                </p>
            </div>
            <div class="form-group mb-15">
                <label class="font-weight-bold">Confirm Password</label>
                <br>
                <span class="p-input-icon-right col-12" >
                    <i *ngIf="confirmPasswordType=='password'" class="pi pi-eye pass-icon" (click)="toggleConfirmPassword()"></i>
                    <i *ngIf="confirmPasswordType=='text'" class="pi pi-eye-slash pass-icon" (click)="toggleConfirmPassword()"></i>
                    <input required pInputText [type]="confirmPasswordType" #confirmpassowrd="ngModel" name="confirmRegPassword" [(ngModel)]="confirmRegPassword"
                        placeholder="Password" class="form-control" />
                </span>
                <p class="info-message text-danger" *ngIf="
                        (confirmpassowrd.errors?.['required'] && (confirmpassowrd.touched || confirmpassowrd.dirty)) ||
                        (confirmpassowrd.errors?.['required'] && isSubmitted  )">
                    Password is required
                </p>
            </div>
        
            <p class="info-message text-danger" *ngIf="false">
                Invalid credentials
            </p>
            <div class="signup-line col-12">
                  <a [routerLink]="['../login']">&lt;&lt; Back to login</a>
              </div>
            <button [disabled]="!fData.form.valid" class="btn btn-primary btn-block text-uppercase btn-lg" type="submit">Register</button>
        </form>

    </div>

</div>