<div class="container pl-20 pr-20">
    <div class="mb-12">
        <h4 class="mt-4"> Assess Carbon Market Transformation Change</h4>
    </div>
    <form #fData="ngForm" (ngSubmit)="save(fData)">
        <div class="card" style="min-height: 600px;">
            <div class="p-grid p-fluid col-md-8 col-sm-12">
                <div class="row p-2">
                    <div class="col-12 col-md-8">
                        <div class="p-field p-2">
                            <label for="policy">Select Intervetion *</label>
                            <p-dropdown name="policy" #policy="ngModel" placeholder="Select intervention"
                                [(ngModel)]="assessment.climateAction" appendTo="body" [options]="policies"
                                optionLabel="policyName" [required]="true"></p-dropdown>
                            <p class="info-message text-danger" *ngIf="
                                !assessment.climateAction &&
                                (fData.submitted || policy.touched)
                              ">
                                This is a mandatory field
                            </p>
                        </div>
                        <div class="p-field p-2">
                            <label for="policy">Assessment Type *</label>
                            <p-dropdown name="type" #type="ngModel" placeholder="Select Assessment Type"
                                [(ngModel)]="assessment.assessmentType" [options]="assessment_types" optionLabel="name"
                                optionValue="name" [required]="true"
                                (onChange)="selectAssessmentType($event)"></p-dropdown>
                            <p class="info-message text-danger" *ngIf="
                                !assessment.assessmentType &&
                                (fData.submitted || type.touched)
                              ">
                                This is a mandatory field
                            </p>
                        </div>
                        <div class="p-field p-2">
                            <label for="policy">Assessment Boundaries *</label>
                            <input type="text" name="tboundrary" #tboundrary="ngModel"
                                [(ngModel)]="cm_detail.boundraries" class="form-control"
                                placeholder="Enter Boundary" required />
                            <p class="info-message text-danger" *ngIf="
                                        !cm_detail.boundraries &&
                                        (fData.submitted || tboundrary.touched)
                                        ">
                                This is a mandatory field
                            </p>
                        </div>
                        <div class="p-field p-2">
                            <label for="policy">International Carbon Market Approach Used *</label>
                            <p-dropdown name="type" #type="ngModel" placeholder="Select Assessment Type"
                                [(ngModel)]="cm_detail.intCMApproach" [options]="int_cm_approches" optionLabel="name"
                                optionValue="code" [required]="true"></p-dropdown>
                            <p class="info-message text-danger" *ngIf="
                                !assessment.assessmentType &&
                                (fData.submitted || type.touched)
                              ">
                                This is a mandatory field
                            </p>
                        </div>
                        <div class="p-field p-2" *ngIf="cm_detail.intCMApproach === 'OTHER'">
                            <label for="policy">Please specify</label>
                            <input type="text" name="tboundrary" #tboundrary="ngModel"
                                [(ngModel)]="cm_detail.otherIntCMApproach" class="form-control"
                                placeholder="Enter Boundary" required />
                        </div>
                        <div class="p-field p-2">
                            <label for="policy">Baseline and monitoring methodology applied by the activity</label>
                            <input type="text" name="tboundrary" #tboundrary="ngModel"
                                [(ngModel)]="cm_detail.appliedMethodology" class="form-control"
                                placeholder="Enter Boundary"/>
                        </div>
                        <!-- <div class="p-field p-2">
                            <label for="policy">Impact Types *</label>
                            <p-multiSelect name="impact_types" placeholder="Select .." appendTo="body"
                                [options]="impact_types" [(ngModel)]="selected_impact_types" optionLabel="name"
                                optionValue="code" (onChange)="onSelectType($event)">
                            </p-multiSelect>
                            <p class="info-message text-danger" *ngIf="
                            selected_impact_types.length === 0 &&
                            (fData.submitted)
                            ">
                                This is a mandatory field
                            </p>
                        </div> -->
                        <!-- <div class="p-field p-2">
                            <label for="policy">Impact Categories *</label>
                            <p-multiSelect name="impact_categories" placeholder="Select .." appendTo="body"
                                [options]="impact_categories" [(ngModel)]="selected_impact_categories"
                                optionLabel="name" optionValue="code"  (onChange)="onSelectCategory($event)">
                            </p-multiSelect>
                            <p class="info-message text-danger" *ngIf="
                            selected_impact_categories.length === 0 &&
                            (fData.submitted )
                            ">
                                This is a mandatory field
                            </p>
                        </div> -->
                        <!-- <div class="p-field p-2">
                            <label for="policy">Impact Characteristics *</label>
                            <p-multiSelect name="impact_characteristics" placeholder="Select .." appendTo="body"
                                [options]="impact_characteristics" [(ngModel)]="selected_impact_characteristics"
                                optionLabel="name" optionValue="code">
                            </p-multiSelect>
                            <p class="info-message text-danger" *ngIf="
                            selected_impact_characteristics.length === 0 &&
                            (fData.submitted )
                            ">
                                This is a mandatory field
                            </p>
                        </div> -->
                        <!-- <div class="p-field p-2">
                            <label for="policy">Impact Indicators *</label>
                            <input type="text" name="boundrary" #boundrary="ngModel"
                                [(ngModel)]="cm_detail.impact_indicators" class="form-control"
                                placeholder="Enter Impact Indicators" required />
                            <p class="info-message text-danger" *ngIf="
                            !cm_detail.impact_indicators &&
                            (fData.submitted )
                            ">
                                This is a mandatory field
                            </p>
                        </div> -->
                        <div class="p-field p-2">
                            <label for="policy">Assessment Approach *</label>
                            <p-dropdown name="type" #type="ngModel" placeholder="Select Assessment Approach"
                                [(ngModel)]="assessment.assessment_approach" [options]="assessment_approaches"
                                optionLabel="name" optionValue="code" [required]="true"
                                (onChange)="selectAssessmentApproach($event)" appendTo="body"></p-dropdown>
                            <p class="info-message text-danger" *ngIf="
                                !assessment.assessment_approach &&
                                (fData.submitted || type.touched)
                              ">
                                This is a mandatory field
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end" *ngIf="!isSavedAssessment">
                <div class="row p-grid p-fluid col-md-6 col-sm-6">
                    <!-- <div class="d-flex col-4 justify-content-start p-button-vertical mb-0 pl-2">
                                            <button class="btn btn-secondary text-uppercase" (click)="onBackClick()">
                                              Back
                                            </button>
                                          </div> -->
                    <div class="d-flex col-4 justify-content-end p-button-vertical mb-0 pl-2">
                        <button class="btn btn-primary text-uppercase" type="submit">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="p-grid p-fluid col-sm-12" *ngIf="showSections">
        <app-cm-section [assessment]="assessmentres" [approach]="assessment.assessment_approach"></app-cm-section>
    </div>
</div>