.boundrary{
    display: block;
    /* width: 58.3%; */
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.boundrary-dropdown{
    display: block;
    /* width: 58.3%; */
    padding: 0 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-appearance: none;
    appearance: none;
    background: #ffffff;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 3px;
}

.caution{
    width: '50vw';
    border-radius: 5px;
    height: '50vh';
}

:host ::ng-deep .p-dialog .p-dialog-header{
    background:#224373;
    color: white;
    text-align: center;
    height: 50px;
}

:host ::ng-deep .p-dialog{
    width: 29%;
}


/* .col-6{
    width: 44%
} */



.tooltip2-icon {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-color: #000;
    border-radius: 50%;
    text-align: center;
    line-height: 17px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
  }
  
  .tooltip2-text {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
    left: 30px;
    top: -150%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    white-space: normal;
    word-wrap: break-word;
  }
  
  .tooltip2-container:hover .tooltip2-text {
    opacity: 1;
  }
  
  .tooltip2-container {
    position: absolute;
    top: 36px;
    left: 120px;
    z-index: 9999;
  }
  
  .table-container {
    position: absolute;
    top: 50px; 
    left: 50px; 
    z-index: 9999;
  }
  .custom-input {
    width: 400px; 
  }
  
  .custom-textarea {
    width: 400px; 
    height: 80px; 
  }
  