<nb-layout>
  <nb-layout-column class="p-0">
    <div class="wrapper d-flex flex-row flex-grow-1">
      <div class="sidebar d-flex flex-column customSB d-print-none"
        [ngClass]="{ open: togglemenu || innerWidth > 1280 }">
        <div class="sidebar--button selectable" (click)="togglemenu = !togglemenu">
          <i class="pi pi-arrow-right" *ngIf="!togglemenu"></i>
          <i class="pi pi-arrow-left" *ngIf="togglemenu"></i>
        </div>
        <div class="sidebar--header">
          <img style="height: 47px;padding-left: 20px" src="../assets/images/logo-new.png" />
        </div>
        <div class="sidebar-items flex-grow-1">
          <div data-ccs-admin-menu>
            <div class="sidebar-items--link align-items-start" [routerLink]="['/app/']" routerLinkActive="selected">
              <div class=""></div>
              Dashboard
            </div>

            <div class="sidebar-items--link align-items-start" [routerLink]="['/app/register/list']"
              routerLinkActive="selected">

              <div class=""></div>
              Registration
            </div>
            
            <div class="sidebar-items--link align-items-start" [routerLink]="['/app/quality-controller']"
              routerLinkActive="selected">

              <div class=""></div>
              Quality Control
            </div>


            <!--  <div class="sidebar-items--link align-items-start" [routerLink]="['/app/methodology']"
              routerLinkActive="selected">

              <div class=""></div>
              Methodology
            </div> -->

            <!-- <div
                class="sidebar-items--link align-items-start"
                [routerLink]="['/app/landing-page']"
                routerLinkActive="selected"
              >
                <div class=""></div>
                Landing Page
              </div> -->
            <p-accordion>
              <p-accordionTab data-assess>
                <p-header class="p-accordion-header-text d-flex flex-row align-items-left">
                  <div>
                    <p class="mb-2">Policies</p>
                  </div>
                </p-header>
                <div class="sidebar-items--link d-flex flex-column align-items-start"
                  [routerLink]="['/app/view-polocies']" routerLinkActive="selected">
                  <p class="mb-0 ml-20">Manage policies</p>
                </div>

                <div class="sidebar-items--link d-flex flex-column align-items-start" [routerLink]="[]"
                  routerLinkActive="selected">
                  <p class="mb-0 ml-20">Accepted policies</p>
                </div>
                <div class="sidebar-items--link d-flex flex-column align-items-start"
                  [routerLink]="['/app/add-polocies']" routerLinkActive="selected">
                  <p class="mb-0 ml-20">Create policies</p>
                </div>
              </p-accordionTab>
            </p-accordion>
            <!-- <p-accordion>
              <p-accordionTab data-assess>
                <p-header class="p-accordion-header-text d-flex flex-row align-items-left">
                  <div [routerLink]="['/app/quality-controller']" routerLinkActive="selected">
                    <p class="mb-2">Quality Control</p>
                  </div>
                </p-header>
              </p-accordionTab>
            </p-accordion> -->
            
            <p-accordion>
              <p-accordionTab data-assess>
                <p-header class="p-accordion-header-text d-flex flex-row align-items-left">
                  <div [routerLink]="['/app/data-request']" routerLinkActive="selected">
                    <p class="mb-2">Data request</p>
                  </div>
                </p-header>
                <div class="sidebar-items--link d-flex flex-column align-items-start"
                  [routerLink]="['/app/data-request']" routerLinkActive="selected">
                  <p class="mb-0 ml-20">Manage</p>
                </div>

                <div class="sidebar-items--link d-flex flex-column align-items-start"
                  [routerLink]="['/app/assign-data-request']" routerLinkActive="selected">
                  <p class="mb-0 ml-20">assign-data-request</p>
                </div>
                <div class="sidebar-items--link d-flex flex-column align-items-start" [routerLink]="['/app/enter-data']"
                  routerLinkActive="selected">
                  <p class="mb-0 ml-20">Enter Data</p>
                </div>
                <div class="sidebar-items--link d-flex flex-column align-items-start" [routerLink]="['/app/view-data']"
                  routerLinkActive="selected">
                  <p class="mb-0 ml-20">Review Data</p>
                </div>
                <div class="sidebar-items--link d-flex flex-column align-items-start"
                  [routerLink]="['/app/manage-data']" routerLinkActive="selected">
                  <p class="mb-0 ml-20">Manage Data</p>
                </div>
                <!-- <div class="sidebar-items--link d-flex flex-column align-items-start"
              [routerLink]="['/app/app-approve-data']" routerLinkActive="selected">
              <p class="mb-0 ml-20">Manage Data</p>
            </div> -->
              </p-accordionTab>
            </p-accordion>

            <!-- <p-accordion>
                <p-accordionTab data-assess>
                  <p-header class="p-accordion-header-text d-flex flex-row align-items-left">
                    <div routerLinkActive="selected">
                      <p class="mb-2">Enter Data</p>
                    </div>
                  </p-header>
                  <div class="sidebar-items--link d-flex flex-column align-items-start"
                       [routerLink]="['/app/emission/electricity-list']"
                       routerLinkActive="selected">
                    <p class="mb-0 ml-20">Electricity</p>
                  </div>
                  <div class="sidebar-items--link d-flex flex-column align-items-start"
                       [routerLink]="['/app/emission/fire-extinguisher-list']"
                       routerLinkActive="selected">
                    <p class="mb-0 ml-20">Fire Extinguisher</p>
                  </div>

                  <div class="sidebar-items--link d-flex flex-column align-items-start"
                       [routerLink]="['/app/emission/generator-list']"
                       routerLinkActive="selected">
                    <p class="mb-0 ml-20">Generator</p>
                  </div>
                  <div class="sidebar-items--link d-flex flex-column align-items-start"
                       [routerLink]="['/app/emission/refrigerant-list']"
                       routerLinkActive="selected">
                    <p class="mb-0 ml-20">Refrigerant Gas</p>
                  </div>
                  <div class="sidebar-items--link d-flex flex-column align-items-start"
                       [routerLink]="['/app/emission/gas-biomass-list']"
                       routerLinkActive="selected">
                    <p class="mb-0 ml-20">Biomass Gas</p>
                  </div>
                  <div class="sidebar-items--link d-flex flex-column align-items-start"
                       [routerLink]="['/app/emission/welding-es-list']"
                       routerLinkActive="selected">
                    <p class="mb-0 ml-20">Welding ES</p>
                  </div>
                  <div class="sidebar-items--link d-flex flex-column align-items-start"
                       [routerLink]="['/app/emission/forklifts-list']"
                       routerLinkActive="selected">
                    <p class="mb-0 ml-20">Forklifts</p>
                  </div>
                  <div class="sidebar-items--link d-flex flex-column align-items-start"
                       [routerLink]="['/app/emission/boilers-list']"
                       routerLinkActive="selected">
                    <p class="mb-0 ml-20">Boilers</p>
                  </div>
                  <div class="sidebar-items--link d-flex flex-column align-items-start"
                       [routerLink]="['/app/emission/waste-water-treatment-list']"
                       routerLinkActive="selected">
                    <p class="mb-0 ml-20">Waste Water Treatment</p>
                  </div>
                  <div class="sidebar-items--link d-flex flex-column align-items-start"
                       [routerLink]="['/app/emission/municipal-water-list']"
                       routerLinkActive="selected">
                    <p class="mb-0 ml-20">Municipal Water</p>
                  </div>
                </p-accordionTab>
              </p-accordion> -->

            <p-accordion>
              <p-accordionTab data-assess>
                <p-header class="p-accordion-header-text d-flex flex-row align-items-left">
                  <div [routerLink]="['/app/Tool']" routerLinkActive="selected">
                    <p class="mb-2">Tools</p>
                  </div>
                </p-header>

                <div class="sidebar-items--link d-flex flex-column align-items-start"
                  [routerLink]="['/app/portfolio-tool']" routerLinkActive="selected">
                  <p class="mb-0 ml-20">Portfolio Tool</p>
                </div>
                <div class="sidebar-items--link d-flex flex-column align-items-start"
                  [routerLink]="['/app/carbon-market-tool']" routerLinkActive="selected">
                  <p class="mb-0 ml-20">Carbon Market Tool</p>
                </div>
                <div class="sidebar-items--link d-flex flex-column align-items-start"
                  [routerLink]="['/app/investor-tool']" routerLinkActive="selected">
                  <p class="mb-0 ml-20">Investor & Private Sector Tool</p>
                </div>

              </p-accordionTab>
            </p-accordion>


            <!--    <div class="sidebar-items--link align-items-start" [routerLink]="['/app/assessment-results']"
              routerLinkActive="selected">
              Assessment
            </div>
 -->


            <p-accordion>
              <p-accordionTab data-assess>
                <p-header class="p-accordion-header-text d-flex flex-row align-items-left">
                  <div [routerLink]="['/app/institution']" routerLinkActive="selected">
                    <p class="mb-2">Institution</p>
                  </div>
                </p-header>

                <div class="sidebar-items--link d-flex flex-column align-items-start"
                  [routerLink]="['/app/add-institution']" routerLinkActive="selected">
                  <p class="mb-0 ml-20">Create Institution</p>
                </div>
                <div class="sidebar-items--link d-flex flex-column align-items-start"
                  [routerLink]="['/app/institutionlist']" routerLinkActive="selected">
                  <p class="mb-0 ml-20">View Institution </p>
                </div>
              </p-accordionTab>
            </p-accordion>

            <p-accordion>
              <p-accordionTab data-assess>
                <p-header class="p-accordion-header-text d-flex flex-row align-items-left">
                  <div [routerLink]="['/app/user']" routerLinkActive="selected">
                    <p class="mb-2">User</p>
                  </div>
                </p-header>

                <div class="sidebar-items--link d-flex flex-column align-items-start"
                  [routerLink]="['/app/user/create']" routerLinkActive="selected">
                  <p class="mb-0 ml-20">Create</p>
                </div>

                <div class="sidebar-items--link d-flex flex-column align-items-start" [routerLink]="['/app/user/list']"
                  routerLinkActive="selected">
                  <p class="mb-0 ml-20">List</p>
                </div>

              </p-accordionTab>
            </p-accordion>

            <!-- <div
                class="sidebar-items--link align-items-start"
                [routerLink]="['/app/verification/project-list']"
                routerLinkActive="selected">

                <div class=""></div>
                Verification
              </div>

              <div
                class="sidebar-items--link align-items-start"
                [routerLink]="['/app/evidence-requested/request-list']"
                routerLinkActive="selected">

                <div class=""></div>
                Evidence Requested
              </div>

              <div
                class="sidebar-items--link align-items-start"
                [routerLink]="['/app/evidence-requested/request-list-verifier']"
                routerLinkActive="selected">

                <div class=""></div>
                Sent Evidence Requests
              </div> -->

          </div>
        </div>

        <div class="sidebar--footer">
          <div></div>
          <div></div>
          <div></div>
          <div class="sidebar-items--link" [routerLink]="['/app/user/setting']" routerLinkActive="router-link-active">
            <i class="pi pi-cog"></i> Account Settings
          </div>
          <div class="sidebar-items--link" (click)="logout()">
            <i class="pi pi-sign-out"></i> Logout
          </div>
        </div>
      </div>
      <div class="main d-flex flex-column flex-grow-1">
        <div class="d-flex flex-column justify-content-end">
          <div class="p-text-nowrap p-text-truncate m-0 pr-2 text-right">
            <div class="top-panel d-flex justify-content-end">
              <div class="d-flex mt-15 mr-20">
                <!-- <span class="mr-10">
                    <img
                      src="https://github.com/mdo.png"
                      alt="mdo"
                      width="45"
                      height="45"
                      class="rounded-circle"
                    />
                  </span> -->
                <span>
                  <div class="username">{{userName}}</div>
                  <div class="userrole">{{userRole}}</div>
                </span>

                <span>
                  <div (click)="logout()" class="logout">
                    <i class="pi pi-sign-out"></i>
                  </div>
                </span>
              </div>
            </div>
          </div>
          <div class="p-text-nowrap p-text-truncate m-0 mb-1 pr-2 text-right">
            <!-- <small><b>Test</b></small> -->
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </nb-layout-column>

  <nb-layout-footer fixed>
  </nb-layout-footer>
</nb-layout>


<!-- <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog> -->