.custom-file-upload .p-fileupload-button {
  padding: 8px 16px;
  font-size: 14px;
  width: 200px;
  height: 10px;
}

.narrow-file-upload {
  max-width: 300px; /* set the maximum width to 300 pixels */
}



