<ng-container *ngFor="let data of outcome_data">
    <p-table [value]="data.interventions">
        <ng-template pTemplate="header">
            <tr>
                <th colspan="4">{{data.comparison_type}}</th>
                <th [attr.colspan]="4">OUTCOMES</th>
            </tr>
            <tr>
                <ng-container *ngFor="let col of data.col_set_1">
                    <th  [attr.colspan]="col.colspan">{{col.label}}</th>
                </ng-container>
            </tr>
            <tr>
                <ng-container *ngFor="let col of data.col_set_2">
                    <th>{{col.label}}</th>
                </ng-container>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-intervention>
            <tr>
                <ng-container *ngFor="let col of data.col_set_2">
                    <td *ngIf="intervention[col.code].name">{{intervention[col.code].name}}</td>
                    <td *ngIf="!intervention[col.code].name">{{intervention[col.code]}}</td>
                </ng-container>
            </tr>
        </ng-template>
    </p-table>
    <br>
    <br>
</ng-container>