
  <!-- <div class="row">
    <div class="col-md-5 col-12 d-flex align-items-stretch">
        <div class="p-grid p-fluid card m-3">
            <div class="row text-center ">
              <h3>Transformational Change </h3>
              <ng-container *ngIf="tcData.length==0; else elseBlock1">
                <div  class="col-12 " >
                  <p-messages severity="warn" >
                    <ng-template pTemplate>
                        <i class="pi pi-info-circle mr-20" style="font-size: 2rem"></i>
                        <div class="ml-2">No data to show.</div>
                    </ng-template>
                </p-messages>

                 </div>
              </ng-container>
              <ng-template #elseBlock1>
                <h2  class="tc-value">{{averageTCValue}}%</h2>
                <div class="col-12  mt-20 ml-10" >
                  <div class="first">
                    <div class="second" [ngStyle]="{'width.%':averageTCValue}">

                    </div>
                    <div class="row justify-content-between ">
                      <div  class="col-4 mt-25"  align="left" >
                        <h5>Low</h5>
                      </div>
                      <div  align="right " class="col-4 mt-25">
                        <h5>High</h5>
                      </div>
                    </div>
                    <div class="d-flex flex-row-reverse mt-60">
                      <div  align="right " ><p class="fs-6">Average Transformational Change</p></div>

                    </div>
                  </div>
                 </div>
              </ng-template>


            </div>
        </div>
    </div>
    <div class="col-md-7 col-12 d-flex align-items-stretch">
        <div class="p-grid p-fluid card m-3">
          <div class="row text-center ">
            <h3>Sectors Targeted</h3>
            <div *ngIf="sectorCount" [hidden]="sectorCount.length==0" class="col-12  mt-20 ml-10 chart-container"  >
              <canvas   id="pieChart2">{{pieChart2}}</canvas>
            </div>
            <div  *ngIf="sectorCount" class="col-12 " [hidden]="sectorCount.length!==0 ">
              <p-messages severity="warn" >
                <ng-template pTemplate>
                    <i class="pi pi-info-circle mr-20" style="font-size: 2rem"></i>
                    <div class="ml-2">No data to show.</div>
                </ng-template>
            </p-messages>

             </div>
             <div  *ngIf="!sectorCount" >
              <p-messages severity="warn" >
                <ng-template pTemplate>
                    <i class="pi pi-info-circle mr-20" style="font-size: 2rem"></i>
                    <div class="ml-2">No data to show.</div>
                </ng-template>
            </p-messages>

             </div>
        </div>
        </div>
    </div>

  </div> -->






<!-- <div class="p-grid p-fluid card mt-20 m-3">
  <div class="row text-center " >
      <h3>Transformational Change by Interventions</h3>
      <div  class="col-12  mt-20 ml-10 chart-container"  style="max-height: 600px;">

          <div  class="col-12 " [hidden]="tcData.length!==0">
            <p-messages severity="warn" >
              <ng-template pTemplate>
                  <i class="pi pi-info-circle mr-20" style="font-size: 2rem"></i>
                  <div class="ml-2">No data to show.</div>
              </ng-template>
          </p-messages>

           </div>
           <div [hidden]="tcData.length==0">
              <canvas  id="canvas">{{chart}}</canvas>
           </div>





       </div>
   </div>
</div> -->



<div class="row">
  <div class="col-md-7 col-12">
      <div class="p-grid p-fluid card m-3">
          <div class="row text-center ">
              <h3>Recent Assessments Done</h3>
              <ng-container *ngIf="tableData.length==0; else elseBlock3">
                <div  class="col-12 " >
                  <p-messages severity="warn" >
                    <ng-template pTemplate>
                        <i class="pi pi-info-circle mr-20" style="font-size: 2rem"></i>
                        <div class="ml-2">No data to show.</div>
                    </ng-template>
                </p-messages>

                 </div>
              </ng-container>
              <ng-template #elseBlock3>
                <div  class="col-12  mt-20 ml-10" >

                  <p-table
                  [value]="tableData"
                  [paginator]="true"
                  [rows]="rows"
                  [showCurrentPageReport]="true"
                  [tableStyle]="{ 'min-width': '5rem' }"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                  [rowsPerPageOptions]="[rows, rows*2, rows*4]"
                  (onPage)="paginate($event)"
              >
                  <ng-template pTemplate="header">
                      <tr>
                          <th style="width:80%">Intervention Name</th>
                          <th style="width:10%">Process of Change Score</th>
                          <th style="width:10%">Outcome of Change Score</th>

                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-tableData>
                      <tr>
                          <td>{{ tableData?.intervention }}</td>
                          <td>{{ tableData.process_score }}</td>
                          <td>{{ tableData.outcome_score }}</td>
                      </tr>
                  </ng-template>
              <!--     <ng-template pTemplate="paginatorleft">
                      <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
                  </ng-template> -->
  <!--                 <ng-template pTemplate="paginatorright">
                      <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
                  </ng-template> -->
              </p-table>
                 </div>
              </ng-template>

          </div>
      </div>
  </div>
  <div class="col-md-5 col-12 d-flex align-items-stretch">

    <div class="p-grid p-fluid card m-3 ">
      <div class="row text-center ">
          <h3>Meeting Preconditions</h3>
          
          <div *ngIf="CMPrerequiste" [hidden]="CMPrerequiste[0].count==0 && CMPrerequiste[1].count==0" class="col-12  mt-20 ml-10 chart-container"  >
              <canvas  id="pieChartCM" >{{pieChartCM}}</canvas>
          </div>
          <div  *ngIf="CMPrerequiste" class="col-12 " [hidden]="CMPrerequiste[0].count!=0 || CMPrerequiste[1].count!=0">
            <p-messages severity="warn" >
              <ng-template pTemplate>
                  <!-- <img src="assets/showcase/images/primeng.svg" width="32" /> -->
                  <i class="pi pi-info-circle mr-20" style="font-size: 2rem"></i>
                  <div class="ml-2">No data to show.</div>
              </ng-template>
          </p-messages>

           </div>
      </div>
  </div>
  </div>

</div>
<div class="row">
  <div class=" col-12">
      <div class="p-grid p-fluid card m-3">
          <div class="row text-center ">
              <h3>Transformational Change of Interventions</h3>
              <ng-container *ngIf="tableData.length==0; else elseBlock4">
                <div  class="col-12 " >
                  <p-messages severity="warn" >
                    <ng-template pTemplate>
                        <i class="pi pi-info-circle mr-20" style="font-size: 2rem"></i>
                        <div class="ml-2">No data to show.</div>
                    </ng-template>
                </p-messages>

                 </div>
              </ng-container>
              <ng-template #elseBlock4>
                <div  class="col-12  mt-20 ml-10" >
                  <table class="heatmap" style="text-align: center;">
                    <!-- <thead>
                      <tr>
                        <th>Process: Transformational Change supported</th>
                        <th>Outcomes: Extent and sustained nature of the transformation</th>
                      </tr>
                    </thead> -->
                    <tbody>
                        <tr>
                            <td></td>
                            <td colspan="7">Outcome: Extent and sustained nature of the transformation</td>
                        </tr>
                        <tr>
                            <td rowspan="7">Process: Transformational change supported</td>
                        </tr>
                        <tr>
                            <td></td>
                            <ng-container *ngFor="let x of xData">
                                <td>{{x.label}}</td>
                            </ng-container>
                        </tr>
                        <tr *ngFor="let y of yData">
                            <td>{{y.label}}</td>
                            <ng-container *ngFor="let x of xData">
                                <td  [style.background-color]="getBackgroundColor(y.value+x.value)">
                                    <span [ngClass]="getIntervention(x.value, y.value)? 'intervention':''" >{{y.value+x.value}}</span>
                                </td>
                            </ng-container>
                        </tr>
                    </tbody>
                  </table>

                 </div>
              </ng-template>

          </div>
      </div>
  </div>
</div>
