<div>
    <div class="dahsboard-header">
        <h1>Hello </h1>
        <h2>We are on a mission to help take actions against climate change.</h2>
    </div>
    <div class="dashboard-wrapper container pl-20 pr-20">


         <div class="p-grid p-fluid card">
          <div class="row">
            <div class="col-md-7 ">
              <h3>Type of Interventions</h3><br>
<p-chart type="bar" [data]="data" [options]="options"></p-chart>
            </div>

            <div class="col-md-5 ">
          <div  class="row text-center ">

                <div class="col-12  mt-20 ml-10"  >
                    <canvas   id="pieChart">{{chart}}</canvas>
                 </div>
            </div>
            </div>
          </div>
        </div>



        <div class="p-grid p-fluid ">
            <div class="row">
                <div class="col-md-3 ">
                    <button
                    [disabled]="(userRole ==loginRole.External)"
                        class="p-button-lg"
                        [style.background-color]="(clickcarbon) ? 'green' :'blue'"
                        type="button"
                        pButton
                        pRipple
                        (click)="goToCarbonMarket()"
                        label="Carbon Market">
                    </button>
                </div>
                <div class="col-md-3">
                    <button
                    [disabled]="(userRole ==loginRole.External)"
                        class="p-button-lg"
                        [style.background-color]="(clickInvest) ? 'green' :'blue'"
                        type="button"
                        pButton
                        pRipple
                        label="Investment"
                        (click)="goToInvestment()">
                    </button>

                </div>
                <div class="col-md-3">
                    <button
                    [disabled]="(userRole ==loginRole.External)"
                        class="p-button-lg"
                        [style.background-color]="(clickpor) ? 'green' :'blue'"
                        type="button"
                        pButton
                        pRipple
                        (click)="goToPortfolio()"
                        label="Portfolio">
                    </button>
                </div>
             </div>
        </div>
    </div>
</div>

<div>
</div>

<div *ngIf="SelectedTool === 1">
  <app-investment-dashboard></app-investment-dashboard>
</div>
<div *ngIf="SelectedTool === 2">
  <app-portfolio-dashboard></app-portfolio-dashboard>
</div>
<div *ngIf="SelectedTool === 3">
  <app-carbon-market-dashboard></app-carbon-market-dashboard>
</div>
<!--<ngx-org-chart direction="horizontal" [nodes]="nodes" (itemClick)="test($event)"></ngx-org-chart>-->

