<div>
    <div class="dahsboard-header" >
        <h1>Transformational Change Toolkit 
          <span (click)="watchVideo()" pTooltip="Click to watch guidance video"  class="infor-video" ><i class="pi pi-video" style=" font-size: 1em ;  margin-left: 0.5em;"></i></span>
        </h1>
    </div>
    <div class="dashboard-wrapper container pl-20 pr-20">


        <div class="p-grid p-fluid card">
          <div class="row">
            <div class="col-md-7 ">
              <h3>Tool used
               
              </h3><br>
              <div *ngIf="typeofInterventionCount" [hidden]="typeofInterventionCount.length==0">
                <p-chart type="bar" [data]="data" [options]="options"></p-chart>
              </div>

              <div  *ngIf="typeofInterventionCount" class="col-12 " [hidden]="typeofInterventionCount.length!=0">
                <p-messages severity="warn">
                  <ng-template pTemplate>
                    <i class="pi pi-info-circle mr-20" style="font-size: 2rem"></i>
                    <div class="ml-2">No data to show.</div>
                  </ng-template>
                </p-messages>
              </div>
            </div>

            <div class="col-md-5 ">
              <h3 class="text-center ">Assessment summary 
                <i class="pi pi-info-circle mt-1 ml-3" style="size:large " tooltipPosition="bottom" pTooltip="The colors correspond to the assessment results as illustrated by the matrix below. Green interventions are likely to contribute to transformational change and have positive and sustained impacts.
                Red interventions have mostly negative impacts and/or are unlikely to facilitate a fundamental transformation."></i>
              </h3>
              <br>
              <div class="row text-center ">

                <div   [hidden]="typeofInterventionCount ? typeofInterventionCount.length==0 : false" class="col-12  mt-20 ml-10">
                  <canvas id="pieChart">{{chart}}</canvas>
                </div>
              </div>
            </div>
          </div>
        </div>

<div style="padding-top: 30px; padding-bottom: 30px;"> <h3>Select a tool below to see an overview of the interventions</h3></div>
        <div class="p-grid p-fluid ">
            <div class="row">
                <div class="col-md-3 " *ngIf="this.isCarbonMarketTool ||  userRole ==loginRole.External">
                    <button

                        class="p-button-lg"
                        [style.background-color]="(clickcarbon) ? '#1a4f7b' :'#222b46'"
                        type="button"
                        pButton
                        pRipple
                        [disabled]="!this.isCarbonMarketTool &&  userRole !=loginRole.External"
                        (click)="goToCarbonMarket()"
                        label="Carbon Market">
                    </button>
                </div>
                <div class="col-md-3" *ngIf="this.isInvesmentTool ||  userRole ==loginRole.External">
                    <button

                        class="p-button-lg"
                        [style.background-color]="(clickInvest) ?  '#1a4f7b' :'#222b46'"
                        type="button"
                        pButton
                        pRipple
                        label="Investment"
                        [disabled]="!this.isInvesmentTool &&  userRole !=loginRole.External"
                        (click)="goToInvestment()">
                    </button>

                </div>
                <div class="col-md-3"  *ngIf="this.isPortfolioTool ||  userRole ==loginRole.External">
                    <button

                        class="p-button-lg"
                        [style.background-color]="(clickpor) ?  '#1a4f7b' :'#222b46'"
                        type="button"
                        pButton
                        pRipple
                        [disabled]="!this.isPortfolioTool &&  userRole !=loginRole.External"
                        (click)="goToPortfolio()"
                        [label]="masterDataService.getToolName('PORTFOLIO').split(' ')[0]">
                    </button>
                </div>

                <div class="col-md-3" *ngIf="this.isAllTool ||  userRole ==loginRole.External">
                  <button

                      class="p-button-lg"
                      [style.background-color]="(clickall) ?  '#1a4f7b' :'#222b46'"
                      type="button"
                      pButton
                      pRipple
                      label="All Tools"
                      [disabled]="!this.isAllTool &&  userRole !=loginRole.External"
                      (click)="goToAllTool()">
                  </button>

              </div>
             </div>
        </div>
    </div>
</div>

<div>
</div>

<div *ngIf="SelectedTool === 1">
  <app-investment-dashboard></app-investment-dashboard>
</div>
<div *ngIf="SelectedTool === 2">
  <app-portfolio-dashboard></app-portfolio-dashboard>
</div>
<div *ngIf="SelectedTool === 3">
  <app-carbon-market-dashboard></app-carbon-market-dashboard>
</div>
<div *ngIf="SelectedTool === 4">
  <app-all-too-dashbord></app-all-too-dashbord>
</div>

