<div>
    <div class="dahsboard-header">
        <h1>Transformational Change Toolkit</h1>
       <!--  <h2>We are on a mission to help take actions against climate change.</h2> -->
    </div>
    <div class="dashboard-wrapper container pl-20 pr-20">


        <div class="p-grid p-fluid card">
          <div class="row">
            <div class="col-md-7 ">
              <h3>Type of Interventions</h3><br>
              <div *ngIf="typeofInterventionCount" [hidden]="typeofInterventionCount.length==0">
                <p-chart type="bar" [data]="data" [options]="options"></p-chart>
              </div>

              <!-- a//////////////////////////////////// -->
              <div  *ngIf="typeofInterventionCount" class="col-12 " [hidden]="typeofInterventionCount.length!=0">
                <p-messages severity="warn">
                  <ng-template pTemplate>
                    <!-- <img src="assets/showcase/images/primeng.svg" width="32" /> -->
                    <i class="pi pi-info-circle mr-20" style="font-size: 2rem"></i>
                    <div class="ml-2">No data to show.</div>
                  </ng-template>
                </p-messages>
              </div>
              <!-- a//////////////////////////////////// -->
            </div>

            <div class="col-md-5 ">
              <div class="row text-center ">

                <div   [hidden]="typeofInterventionCount?.length==0" class="col-12  mt-20 ml-10">
                  <canvas id="pieChart">{{chart}}</canvas>
                </div>
              </div>
            </div>
          </div>
        </div>

<div style="padding-top: 30px; padding-bottom: 30px;"> <h3>Select an intervention type to get an overview of the assessed interventions</h3></div>

        <div class="p-grid p-fluid ">
            <div class="row">
                <div class="col-md-3 " *ngIf="this.isCarbonMarketTool ||  userRole ==loginRole.External">
                    <button

                        class="p-button-lg"
                        [style.background-color]="(clickcarbon) ? 'green' :'blue'"
                        type="button"
                        pButton
                        pRipple
                        [disabled]="!this.isCarbonMarketTool &&  userRole !=loginRole.External"
                        (click)="goToCarbonMarket()"
                        label="Carbon Market">
                    </button>
                </div>
                <div class="col-md-3" *ngIf="this.isInvesmentTool ||  userRole ==loginRole.External">
                    <button

                        class="p-button-lg"
                        [style.background-color]="(clickInvest) ? 'green' :'blue'"
                        type="button"
                        pButton
                        pRipple
                        label="Investment"
                        [disabled]="!this.isInvesmentTool &&  userRole !=loginRole.External"
                        (click)="goToInvestment()">
                    </button>

                </div>
                <div class="col-md-3"  *ngIf="this.isPortfolioTool ||  userRole ==loginRole.External">
                    <button

                        class="p-button-lg"
                        [style.background-color]="(clickpor) ? 'green' :'blue'"
                        type="button"
                        pButton
                        pRipple
                        [disabled]="!this.isPortfolioTool &&  userRole !=loginRole.External"
                        (click)="goToPortfolio()"
                        label="Portfolio">
                    </button>
                </div>
             </div>
        </div>
    </div>
</div>

<div>
</div>

<div *ngIf="SelectedTool === 1">
  <app-investment-dashboard></app-investment-dashboard>
</div>
<div *ngIf="SelectedTool === 2">
  <app-portfolio-dashboard></app-portfolio-dashboard>
</div>
<div *ngIf="SelectedTool === 3">
  <app-carbon-market-dashboard></app-carbon-market-dashboard>
</div>
<!--<ngx-org-chart direction="horizontal" [nodes]="nodes" (itemClick)="test($event)"></ngx-org-chart>-->

