<div class="card" style="min-height: 600px;">
    <div class="p-2" style="min-height: 600px;">
        <div class="p-grid p-fluid  col-sm-12">
            <!-- <app-cm-section-three [approach]="approach" (onSubmit)="save($event)"></app-cm-section-three> -->
            <p-accordion [activeIndex]="openAccordion" (onOpen)="onOpenTab($event)">
                <ng-container *ngFor="let section of sections; let idxs = index;">
                    <p-accordionTab *ngIf="shownSections[idxs]"   header="{{section.name}}">
                        <p>{{section.description}}</p>
                        <ng-container *ngIf="section.code === 'SECTION_2'">
                            <ng-container *ngFor="let criteria of criterias[idxs]; let idxc = index;">
                                <div class="row p-2" *ngIf="shownCriterias[idxs][idxc]">
                                    <label >{{criteria.name}}</label>
                                    <ng-container *ngFor="let question of criteria.questions;let idx=index;">
                                        <app-cm-question [assessmentquestions]="assessmentQuestions" [question]="question" (prev_answer)="onAnswer($event, question.message, criteria,idxs, idxc, idx )"
                                            *ngIf="shownQuestions[idxs][idxc][idx]" [approach]="approach" [isEditMode]="isEditMode"></app-cm-question>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="section.code === 'SECTION_3'">
                            <app-cm-section-three [assessmentquestions]="assessmentQuestions" [isEditMode]="isEditMode" [approach]="approach" [assessment]="assessment" (onSubmit)="save($event)"></app-cm-section-three>
                        </ng-container>
                    </p-accordionTab>
                </ng-container>
            </p-accordion>
        </div>
        <div class="row justify-content-end p-2" *ngIf="!isPassed">
            <div class="row p-grid p-fluid col-sm-12">
                <div class="col-10"></div>
                <div class="d-flex flex-row-reverse mt-20 ">
                    <button class="btn btn-primary text-uppercase" type="submit" (click)="save({result: [], isDraft: false,name:'',type:''})">
                      {{ (assessment && assessment.assessment_approach=== 'INDIRECT') ? 'Send to Data Collection Team' : 'Calculate & Check Results' }}
                    </button>
                    <div style="margin-right: 10px;" class="btn btn-primary text-uppercase" (click)="save({result: [], isDraft: true,name:'',type:''})">
                        Save
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="visible" [closable]="false" >
    <p-header  class="caution" >
        <i class="pi pi-exclamation-triangle" style="font-size: 2rem; margin-left: 171px; margin-top: -12px;"></i>
    </p-header>
    <div style="text-align: center;">
        <br>
        <h4>Caution!</h4>
        <p [innerHTML]="message"></p>
        <button style="background-color: #224373;" class="btn btn-primary text-uppercase" type="submit" (click)="okay()">
            Close
        </button>
    </div>
</p-dialog>
