.caution{
    width: '50vw';
    border-radius: 5px;
    height: '50vh';
}

:host ::ng-deep .p-dialog .p-dialog-header{
    background:#224373;
    color: white;
    text-align: center;
    height: 50px;
}

