.characteristic-Topic{
    /* font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    
    color: #0C1A62; */
}
.label-top{
    font-size: 14px;
}
.question{
    font-size: 14px;
}


 :host ::ng-deep .p-tabview p {
    line-height: 1.5;
    margin: 0;
}
.array-item {
    display: inline-block;
    margin-right: 5px;
  } 