<div class="container pl-20 pr-20">
    <div class="mb-12">
        <h4 class="mt-4"> Assess Investment & Private Sector Transformational Change</h4>
    </div>
    <form #fData="ngForm" (ngSubmit)="save(fData)">
        <div class="card" style="min-height: 600px;">
            <div class="p-grid p-fluid col-md-12 col-sm-12">
                <div class="row p-2">
                    <div class="col-12 col-md-6">
                        <div class="p-field p-2">
                            <label for="policy">Select Intervetion *</label>
                            <p-dropdown name="policy" #policy="ngModel" placeholder="Select Policy"
                                [(ngModel)]="assessment.climateAction" appendTo="body" [options]="policies"
                                optionLabel="policyName" [required]="true"
                                [disabled]="isSavedAssessment"></p-dropdown>
                            <p class="info-message text-danger" *ngIf="
                                !assessment.climateAction &&
                                (fData.submitted || policy.touched)
                              ">
                                This is a mandatory field
                            </p>
                        </div>
                        <div class="p-field p-2">
                            <label for="policy">Assessment Type *</label>
                            <p-dropdown name="type" #type="ngModel" placeholder="Select Assessment Type"
                                [(ngModel)]="assessment.assessmentType" [options]="assessment_types" optionLabel="name"
                                optionValue="name" [required]="true"
                                appendTo="body"
                                [disabled]="isSavedAssessment"
                                (onChange)="selectAssessmentType($event)"></p-dropdown>
                            <p class="info-message text-danger" *ngIf="
                                !assessment.assessmentType &&
                                (fData.submitted || type.touched)
                              ">
                                This is a mandatory field
                            </p>
                        </div>
                        <div class="p-field p-2">
                            <label for="gac">Geographical Areas Covered*</label>
                            <p-dropdown name="investorAssessment.geographical_areas_covered" #gac="ngModel"
                                placeholder="Select Geographical Areas Covered"
                                [(ngModel)]="investorAssessment.geographical_areas_covered"
                                [options]="levelOfImplementation" optionLabel="name" optionValue="name"
                                [required]="true"
                                [disabled]="isSavedAssessment"
                                appendTo="body">
                            </p-dropdown>
                            <p class="info-message text-danger" *ngIf="
                                !investorAssessment.geographical_areas_covered &&
                                (fData.submitted || gac.touched)
                              ">
                                This is a mandatory field
                            </p>
                            </div>
                        <div class="p-field p-2">
                            <label for="Sectors Covered">Sectors Covered*</label>
    
                            <p-multiSelect name="sectors" #sectors="ngModel" placeholder="Select Sectors Covered"
                                [(ngModel)]="sectorArray" [options]="sectorList"
                                (ngModelChange)="onItemSelectSectors($event)" optionLabel="name"
                                [required]="true"
                                [disabled]="isSavedAssessment"
                                appendTo="body">
                            </p-multiSelect>
                            <p class="info-message text-danger" *ngIf="
                                sectorArray.length===0 &&
                                (fData.submitted || sectors.touched)
                              ">
                                This is a mandatory field
                            </p>
                            </div>
    
                        <!-- <div class="p-field p-2">
                            <label for="Sectors Covered">Impacts Covered*</label>
                            <p-multiSelect name="impact" #impacts="ngModel" placeholder="Select Impact Covered"
                                [(ngModel)]="impactArray" [options]="impactCovered"
                                (ngModelChange)="onItemSelectImpacts($event)" optionLabel="name"
                                [required]="true"
                                [disabled]="isSavedAssessment"
                                appendTo="body">
                            </p-multiSelect>
                            <p class="info-message text-danger" *ngIf="
                                impactArray.length===0 &&
                                (fData.submitted || impacts.touched)
                              ">
                                This is a mandatory field
                            </p>
                        </div>
     -->
                        <div class="p-field p-2">
    
                            <label for="date1">Assessment Period*</label>
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">
                                    <i class="pi pi-calendar"></i>
                                </span>
                                <p-calendar dateFormat="mm-dd-yy" inputId="date1" placeholder="From"
                                    [(ngModel)]="assessment.from" name="date1" #date1="ngModel"  [disabled]="isSavedAssessment" [required]="true" appendTo="body"  [disabled]="isSavedAssessment"> 
                                   </p-calendar>
                                <span class="p-inputgroup-addon">to</span>
                                <p-calendar dateFormat="mm-dd-yy" inputId="date2" placeholder="To"
                                    [(ngModel)]="assessment.to" name="date2" #date2="ngModel"  [disabled]="isSavedAssessment"  [required]="true" appendTo="body" [disabled]="isSavedAssessment"></p-calendar>
                                    
                            </div>
                            <div class="col-12">
                                <p class="info-message text-danger" *ngIf="(date1.invalid || date2.invalid) && (fData.submitted || date1.touched || date2.touched)">
                                    This is a mandatory field
                                  </p>
                            </div>
                            
                        </div>
                        <div class="p-field p-2">
                            <label for="opportunities">Opportunities for stakeholders to participate in the assessment *</label>
                            <input pInputText type="text" #opportunities="ngModel" name="opportunities" ngModel
                            placeholder="Opportunities" [(ngModel)]="assessment.opportunities" required [disabled]="isSavedAssessment"/>
                            <p class="info-message text-danger" *ngIf="!opportunities.value && (fData.submitted || opportunities.touched)">This is a mandatory field</p>
                      </div>
          
                      <div class="p-field p-2">
                            <label for="principles">Principles on wwhich the assessment is based *</label>
                            <input pInputText type="text" #principles="ngModel" name="principles" ngModel
                            placeholder="Principles" [(ngModel)]="assessment.principles" required [disabled]="isSavedAssessment"/>
                            <p class="info-message text-danger" *ngIf="!principles.value && (fData.submitted || principles.touched)">This is a mandatory field</p>
                      </div>
    
                            <!-- <div class="p-field p-2">
                            <label for="Sectors Covered">Assessment Method*</label>
                            <p-dropdown name="type" #method="ngModel" placeholder="Select Assessment Method"
                                [(ngModel)]="assessment.assessment_method" [options]="assessmentMethods"  appendTo="body"
                                optionLabel="name" optionValue="name"></p-dropdown>
                            <p class="info-message text-danger" *ngIf="
                                !assessment.assessment_method &&
                                (fData.submitted || method.touched)
                              ">
                                This is a mandatory field
                            </p>
                            </div> -->
                        <!-- <div class="p-field p-2">
                                <label for="Sectors Covered">Assessment Approach*</label>
                                <p-dropdown name="approach" #assessApproach="ngModel" placeholder="Select Assessment Method"
                                    [(ngModel)]="assessment.assessment_approach" [options]="assessmentApproach"  appendTo="body"
                                    (ngModelChange)="onAssessmentApproachchange(assessment.assessment_approach)" [required]="true"
                                    [disabled]="isSavedAssessment"
                                    optionLabel="name" optionValue="name"></p-dropdown>
                                <p class="info-message text-danger" *ngIf="
                                    !assessment.assessment_approach &&
                                    (fData.submitted || assessApproach.touched)
                                  ">
                                    This is a mandatory field
                                </p>
                            </div>
                        <div class="p-field p-2">
                                    <label for="Sectors Covered">Type of Investment</label>
                                    <p-dropdown 
                                        name="investment_type" 
                                        #investment_type="ngModel"
                                         placeholder="Select type of investment"
                                        [(ngModel)]="investorAssessment.investment_type"
                                        [options]="investmentType"  appendTo="body"
                                        
                                        [disabled]="isSavedAssessment"
                                        optionLabel="name" optionValue="name"></p-dropdown>
                                   
                        </div> -->


                    </div>
                </div>
                <!-- <div class="row p-2">
                    <div class="col-12 col-md-6">
                        <div class="p-field p-2">
                            <label for="Level of implementation">Level of implementation*</label>
                            <p-dropdown name="investorAssessment.level_of_implemetation" #levelofimpl="ngModel"
                                placeholder="Select Level of implementation"
                                [(ngModel)]="investorAssessment.level_of_implemetation"
                                appendTo="body"
                                [options]="levelOfImplementation" optionLabel="name" optionValue="name"
                                (ngModelChange)="onLevelofImplementationChange($event)"
                                [disabled]="isSavedAssessment"
                                [required]="true"></p-dropdown>
                            <p class="info-message text-danger" *ngIf="
                                !investorAssessment.level_of_implemetation &&
                                (fData.submitted || levelofimpl.touched)
                              ">
                                This is a mandatory field
                            </p>
                        </div>

                    </div>
                    <div *ngIf="levelofImplementation ===1" class="col-12 col-md-6">
                        <div class="p-field p-2">
                            <label for="Level of implementation">Enter country*</label>
                            <input type="text" pInputText
                              #country="ngModel"
                              [required]="true"
                              placeholder="Enter country"
                              [(ngModel)]="investorAssessment.national_country"
                              [disabled]="isSavedAssessment"
                              name="country" />
                            <p class="info-message text-danger" *ngIf="
                                !investorAssessment.national_country &&
                                (fData.submitted || country.touched)
                              ">
                                This is a mandatory field
                            </p>
                        </div>

                    </div>

                    <div *ngIf="levelofImplementation ===2" class="col-12 col-md-6">
                        <div class="p-field p-2">
                            <label for="Level of implementation">Enter region*</label>
                            <input type="text" pInputText
                              #country="ngModel"
                              [required]="true"
                              placeholder="Enter region"
                              [disabled]="isSavedAssessment"
                              [(ngModel)]="investorAssessment.subnational_region"
                              name="country" />
                            <p class="info-message text-danger" *ngIf="
                                !investorAssessment.subnational_region &&
                                (fData.submitted || country.touched)
                              ">
                                This is a mandatory field
                            </p>
                        </div>

                    </div>



                </div> -->
                <div class="row p-2">
                    <div class="col-12 col-md-6">
                   
                    </div>



                </div>

            </div>
            <div class="row justify-content-end" *ngIf="!isSavedAssessment">
                <div>

                    <div class="d-flex flex-row-reverse  ">
                        <button class="btn btn-primary text-uppercase" type="submit">
                            Continue
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </form>
    <!-- <div class="p-grid p-fluid col-sm-12" *ngIf="showSections">
        <app-cm-section [assessment]="assessmentres"></app-cm-section>
    </div> -->
    <!-- <div class="card" *ngIf="isSavedAssessment"> -->
        <div class="card" >
        <form #fData1="ngForm" (ngSubmit)="onsubmit(fData1)" >
        <p-tabView  (onChange)="onMainTabChange($event) " [(activeIndex)]="activeIndexMain ">

            <p-tabPanel  header="Process of Change" >
                <!-- <div *ngFor="let characteristic of meth1Process"> -->

                <p-tabView #tabView (onChange)="onCategoryTabChange($event, tabView)" [(activeIndex)]="activeIndex "    >

                    <p-tabPanel [header]="category.CategoryName" *ngFor="let category of processData" >

                        <div class="characteristic-Topic " *ngFor="let data of category.data; index as i">
                            <h6>{{i+1}}.{{data.characteristics.name}}</h6>
                            <div>

                                    <div class="container pl-20 pr-20">
                                        <div id="content" #content>
                                            <div class=" mt-2">
                                                <div class="p-grid p-fluid col-12">
                                                    <div class="row p-2">
                                                     
                                                       
                                                                <div class="col-2">
                                                                    <label for="Description">Relevance</label>
                                                                </div>
                                                                <div class="col-4">
                                                                    <p-dropdown  *ngIf="approach===1"
                                                                    name="data.charData.relavance"
                                                                    #type="ngModel"
                                                                    placeholder="Select Relevance"
                                                                    [(ngModel)]="data.relavance"
                                                                    [options]="relevance" optionLabel="name"
                                                                    appendTo="body"
                                                                    optionValue="value" [required]="true"></p-dropdown>

                                                                    <p-dropdown  *ngIf="approach===2"
                                                                    name="data.charData.relavance"
                                                                    placeholder="Select Institution"
                                                                    [(ngModel)]="data.relavance"
                                                                    [options]="instiTutionList" 
                                                                    optionLabel="name"
                                                                    appendTo="body"
                                                                    optionValue="id"
                                                                   [required]="true"></p-dropdown>   
                                                                </div>
                                                                
                                                          

                                                        <!-- <div class="col-12 col-lg-6"   *ngIf="approach===1">
                                                            <div class="p-field">
                                                                <label for="justification">Justification</label>
                                                                <input type="text" pInputText
                                                                    [(ngModel)]="data.justification"
                                                                    placeholder="Enter Justifiaction"
                                                                    name="justification" />

                                                            </div>
                                                        </div> -->
                                                    </div>

                                                    <div class="row p-2">
                                                        <!-- <div class="col-12 col-lg-6">
                                                            <div class="p-field">
                                                                <label for="Description">Description</label>
                                                                <textarea
                                                                  name="{{data.characteristics.name}}_description"
                                                                    placeholder="Description" rows="5" cols="60"
                                                                    pInputTextarea
                                                                    [(ngModel)]="data.description"
                                                                    autoResize="autoResize"
                                                                    class="p-inputtext"></textarea>
                                                            </div>
                                                        </div> -->
                                                        
                                                            <div class="col-2">
                                                              <label for="Description">Description</label>
                                                            </div>
                                                            <div class="col-10">
                                                              <!-- <label for="Description">{{question.question.description}}</label> -->
                                                              <p style="text-align: justify;">{{data.characteristics.investmentDescription}}</p>
                                                            </div>
                                                         

                                                        <!-- <div class="col-12 col-lg-6">
                                                            <div class="p-field">
                                                                <label for="StartingSituation">Starting
                                                                    Situation</label>
                                                                <textarea name="Starting Situation"
                                                                    placeholder="Starting Situation" rows="5" cols="60"
                                                                    pInputTextarea
                                                                    [(ngModel)]="data.starting_situation"
                                                                    autoResize="autoResize"
                                                                    class="p-inputtext"></textarea>

                                                            </div>
                                                        </div> -->
                                                    </div>

                                                   
                                                    <div class="row p-2">
                                                        <!-- <label for="Indicator"><u>Indicator</u></label> -->
                                                        <div class="row" *ngFor="let question of data.indicator_details">
                                                            <label *ngIf="question.question.isMain" for="Indicator" class="mt-10 mb-10"><u>{{question.question.name}}</u></label>
                                                            
                                                             <div class="row" *ngIf="!question.question.isMain">
                                                                <div  class=" ml-25 col-6 mb-20">
                                                                    <p  class="question">{{question.question.name}}</p>
                                                                 </div>
                                                                 <div class="col-4 mb-20">
                                                            
                                                                    <p-dropdown *ngIf="approach===1"
                                                                        name="data.charData.question01" #type="ngModel"
                                                                        placeholder="Select Answer"
                                                                        [(ngModel)]="question.value"
                                                                        [options]="yesNoAnswer" optionLabel="name"
                                                                        appendTo="body"
                                                                        optionValue="name" [required]="true">
                                                                    </p-dropdown>
                                                                    <p-dropdown  *ngIf="approach===2"
                                                                        name={{data}}_charData.relavance
                                                                        placeholder="Select Institution"
                                                                        [(ngModel)]="question.value"
                                                                        [options]="instiTutionList" optionLabel="name"
                                                                        appendTo="body"
                                                                        optionValue="id" [required]="true">
                                                                    </p-dropdown> 
        
                                                                 </div>
                                                             </div>
                                                             <div class="row" *ngIf="!question.question.isMain">
                                                                <div class=" ml-25 col-6 mb-20">
                                                        
                                                                    <p class="justifiaction" class="question">Comment and justifiaction</p>
                                                                  </div>
                                                                  <div class="col-4 mb-20">
                                                                    <input type="text" pInputText
                                                                    [(ngModel)]="question.justification"
                                                                    placeholder="Enter Justifiaction"
                                                                    name="data.charData.likelihood_justification" />
                                                                    
                                                                 </div>
                                                             </div>
                                                         
                                                            
                                                         
                                                        </div>

                                                    </div>

                                                    <div class="row p-2">
                                                        <div class="col-12 col-lg-6">
                                                            <div class="p-field">
                                                                <label for="likelihood">Likelihood</label>
                                                                <p-dropdown *ngIf="approach===1" 
                                                                    name="data.charData.likelihood"
                                                                    #type="ngModel" placeholder="Select Likelihood"
                                                                    [(ngModel)]="data.likelihood"
                                                                    [options]="likelihood" optionLabel="id"
                                                                    optionValue="value" [required]="true"
                                                                    appendTo="body"></p-dropdown>

                                                                    <p-dropdown  *ngIf="approach===2"
                                                                    name={{data}}_charData.relavance
                                                                    placeholder="Select Institution"
                                                                    [(ngModel)]="data.likelihood"
                                                                    [options]="instiTutionList" optionLabel="name"
                                                                    appendTo="body"
                                                                    optionValue="id" [required]="true">
                                                                </p-dropdown> 

                                                            </div>
                                                        </div>

                                                        <div class="col-12 col-lg-6" *ngIf="approach===1">
                                                            <div class="p-field">
                                                                <label for="justification">Justification</label>
                                                                <input type="text" pInputText
                                                                    [(ngModel)]="data.likelihood_justification"
                                                                    placeholder="Enter Justifiaction"
                                                                    name="data.charData.likelihood_justification" />

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row p-2">
                                                        <label for="question">Supporting Documentation</label>
                                                </div>
                    
                                                  <div class="row p-2 align-items-center">
                                                    <div class="col-2 d-flex align-items-center">
                                                      <p-fileUpload mode="basic" chooseIcon="pi pi-upload" chooseLabel="Upload" name="files"
                                                        [url]="uploadUrl" (onUpload)="onUpload($event,data)" [multiple]="true"
                                                        accept="{{acceptedFiles}}" [maxFileSize]="5000000" [auto]="true">
                                                      </p-fileUpload>
                                                    </div>
                    
                                                    <div class="col-2 d-flex align-items-center" *ngIf="data.uploadedDocumentPath">
                                                      <p>{{data.uploadedDocumentPath}}</p>
                                                    </div>
                    
                                                    <div class="col-2 d-flex align-items-center" *ngIf="data.uploadedDocumentPath">
                                                      <a target="_blank" [href]="fileServerURL+'/'+data.uploadedDocumentPath"><i
                                                          class="pi pi-download download"></i></a>
                                                    </div>
                                                  </div>

                                                    <!-- <div class="row p-2">
                                                        <div class="col-12 col-lg-6">
                                                            <div class="p-field">
                                                                <label for="Relevance">Relevance Weight (%)</label>
                                                                <p-inputNumber inputId="locale-us" mode="decimal"
                                                                    [min]="0" [max]="100"
                                                                    locale="en-US" 
                                                                    [minFractionDigits]="2"
                                                                    [(ngModel)]="data.relevance_weight"
                                                                    placeholder="Enter Relevance Weight"
                                                                    name="data.charData.relevance_weight"
                                                                    (ngModelChange)="onRelevanceWeightChange(category.CategoryName,data.characteristics.name, $event)">
                                                                </p-inputNumber>
                                                             <div *ngIf="!chaCategoryTotalEqualsTo1[category.CategoryName] && initialRelevance !==0" style="color: red;">
                                                                  Relevance weights for characteristics of {{category.CategoryName}} category should sum up to 100%.
                                                                  <br>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-12 col-lg-6">
                                                            <div class="p-field">
                                                                <label for="Relevance">Likelihood Weight (%)</label>
                                                                <p-inputNumber inputId="locale-us" mode="decimal"
                                                                    [min]="0" [max]="100"
                                                                    locale="en-US" 
                                                                    [minFractionDigits]="2"
                                                                    [(ngModel)]="data.likelihood_weight"
                                                                    placeholder="Enter Likelihood Weight"
                                                                    name="data.charData.likelihood_weight"
                                                                    (ngModelChange)="onLikelihoodWeightChange(category.CategoryName,data.characteristics.name, $event)">
                                                                </p-inputNumber>

                                                              <div *ngIf="!chaCategoryLikelihoodTotalEqualsTo1[category.CategoryName] && initialLikelihood !==0 " style="color: red;">
                                                                  Likelihood weights for characteristics of {{category.CategoryName}} category should sum up to 100%.
                                                                  <br>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div> -->
                                                </div>
                                            </div>

                                        </div>
                                    </div>



                            </div>
                        </div>




                    </p-tabPanel>






                </p-tabView>
                <!-- </div> -->
            </p-tabPanel>
            <p-tabPanel header="Outcome of Change" >
                <p-tabView #tabView2 (onChange)="onCategoryTabChange($event, tabView2) " [(activeIndex)]="activeIndex2">

                    <p-tabPanel [header]="category.CategoryName" *ngFor="let category of outcomeData">

                        <div class="characteristic-Topic" *ngFor="let data of category.data; index as i">
                            <h6>{{i+1}}.{{data.characteristics.name}}</h6>
                            <div>
                                <form>
                                    <div class="container pl-20 pr-20">
                                        <div id="content" #content>
                                            <div class=" mt-2">
                                                <div class="p-grid p-fluid col-12">
                                                    <div class="row p-2">
                                                        <!-- <label for="Indicator"><u>Indicator</u></label> -->
                                                        <div class="row" *ngFor="let question of data.indicator_details">
                                                            <div class=" ml-25 col-5 mb-20">
                                                        
                                                            <p class="question">{{question.question.name}}</p>
                                                          </div>
                                                          <div 
                                                            class="col-4 mb-20">
                                                            <p-dropdown  *ngIf="approach===1"
                                                                name="data.charData.question01" #type="ngModel"
                                                                placeholder="Select Answer"
                                                                [(ngModel)]="question.value"
                                                                [options]="yesNoAnswer" optionLabel="name"
                                                                appendTo="body"
                                                                optionValue="name" [required]="true">
                                                            </p-dropdown>

                                                            <p-dropdown  *ngIf="approach===2"
                                                                name={{data}}_charData.relavance
                                                                placeholder="Select Institution"
                                                                [(ngModel)]="question.value"
                                                                [options]="instiTutionList" optionLabel="name"
                                                                appendTo="body"
                                                                optionValue="id" [required]="true">
                                                            </p-dropdown> 

                                                            </div>
                                                        </div>

                                                    </div>

                                                    <!-- <div class="row p-2"
                                                        *ngIf=" category.CategoryName ==='Scale SD'|| category.CategoryName ==='Sustained nature-SD'">
                                                        <div class="col-12 col-lg-12">
                                                            <div class="p-field">
                                                                <input type="text" pInputText
                                                                    [(ngModel)]="data.indicator"
                                                                    placeholder="Enter an Indicator"
                                                                    name="justification" />
                                                            </div>
                                                        </div>
                                                    </div> -->

                                                    <!-- <div class="row p-2" *ngIf=" approach===1 && (category.CategoryName ==='Scale SD'|| category.CategoryName ==='Sustained nature-SD')">
                                                        <div class="col-12 col-lg-6">
                                                          <div class="p-field">
                                                            <label for="indicatorStartingVal">Indicator Starting Situation Value</label>
                                                            <p-inputNumber [(ngModel)]="data.indicatorStartingVal" name="indicatorStartingVal"
                                                              placeholder="Value at the Starting Situation" inputId="locale-us" mode="decimal"
                                                              locale="en-US" [minFractionDigits]="2">
                                                            </p-inputNumber>
                                                          </div>
                                                        </div>

                                                        <div class="col-12 col-lg-6">
                                                          <div class="p-field">
                                                            <label for="indicatorExpectedVal">Indicator Expected Value</label>
                                                            <p-inputNumber [(ngModel)]="data.indicatorExpectedVal" name="indicatorExpectedVal"
                                                              placeholder="Expected Value" inputId="locale-us" mode="decimal" locale="en-US"
                                                              [minFractionDigits]="2">
                                                            </p-inputNumber>

                                                          </div>
                                                        </div>
                                                    </div> -->




                                                    <div class="row p-2">
                                                        <div class="col-12 col-lg-6">
                                                            <div class="p-field">
                                                                <label for="Relevance">Score</label>
                                                                <!-- <p-inputNumber *ngIf="approach===1"
                                                                    inputId="horizontal"
                                                                    [(ngModel)]="data.score"  
                                                                    [showButtons]="true" [min]="-1" [max]="3" [step]="1"
                                                                    inputId="minmax-buttons"
                                                                    placeholder="Enter an integer between -1 and 3"
                                                                    
                                                                    name="data.charData.score"> 
                                                                </p-inputNumber> -->
                                                                <p-dropdown  *ngIf="approach===1"
                                                                    name=data.charData.score
                                                                    placeholder="Select score"
                                                                    [(ngModel)]="data.score"
                                                                    [options]="score" optionLabel="name"
                                                                    appendTo="body"
                                                                    optionValue="value" [required]="true">
                                                                 </p-dropdown> 
                                                                <!-- <p-inputMask type="text" name="telephoneNumber" mask="9" [autoClear]="true" characterPattern="[1-3]\d*$"
                                                                placeholder="+99 999 999-9999"  [(ngModel)]="data.score"  
                                                                [ngModelOptions]="{ standalone: false }" #telephoneNumber="ngModel" 
                                                               
                                                                placeholder="Enter an integer between -1 and 3"
                                                                [required]="true"></p-inputMask>   -->
                                                                <!-- <input type="number" [(ngModel)]="data.score" 
                                                                name="data.charData.score" min="-1" max="3" readonly> -->
                                                               
                                                             
                                                                <!-- <p-inputNumber [(ngModel)]="data.score" [min]="-1" [max]="3" [readonly]="true"  name="data.charData.score" (onInput)="validateScore($event)"></p-inputNumber> -->
                                                                
                                                                <p-dropdown  *ngIf="approach===2"
                                                                    name={{data}}_charData.relavance
                                                                    placeholder="Select Institution"
                                                                    [(ngModel)]="data.score"  
                                                                    [options]="instiTutionList" optionLabel="name"
                                                                    appendTo="body"
                                                                    optionValue="id" [required]="true">
                                                                </p-dropdown> 
                                                            </div>
                                                        </div>

                                                        <div   *ngIf="approach===1" class="col-12 col-lg-6">
                                                            <div class="p-field">
                                                                <label for="justification">Justification</label>
                                                                <input type="text" pInputText
                                                                    [(ngModel)]="data.justification"
                                                                    placeholder="Enter Justifiaction"
                                                                    name="justification" />

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row p-2" *ngIf=" category.CategoryName ==='Scale GHGs' && data.characteristics.name === 'Micro Level'">
                                                        <div class="col-12 col-lg-6">
                                                          <div class="p-field">
                                                            <label for="expected_ghg_mitigation">Expected GHG mitgation (Mt CO2-eq)</label>
                                                            <p-inputNumber *ngIf="approach===1"
                                                              [(ngModel)]="data.expected_ghg_mitigation" name="expected_ghg_mitigation"
                                                              placeholder="Expected GHG mitgation Value" inputId="locale-us" mode="decimal"
                                                              locale="en-US" [minFractionDigits]="2">
                                                            </p-inputNumber>

                                                            <p-dropdown  *ngIf="approach===2"
                                                                name={{data}}_charData.relavance
                                                                placeholder="Select Institution"
                                                                [(ngModel)]="data.expected_ghg_mitigation"
                                                                [options]="instiTutionList" optionLabel="name"
                                                                appendTo="body"
                                                                optionValue="id" [required]="true">
                                                            </p-dropdown> 
                                                          </div>
                                                        </div>


                                                      </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div>



                    </p-tabPanel>




                </p-tabView>
            </p-tabPanel>

        </p-tabView>

        <div  *ngIf="activeIndex2===5 && activeIndexMain===1" class="row justify-content-end">
            <div>
                <!-- <div class=" col-md-10 offset-md-4" style="color:red" >
                    <div class="col align-self-end" *ngIf="failedLikelihoodArray.length!=0">
                       Please make sure to set Likelihood weights for   
                       <span  *ngFor="let data of failedLikelihoodArray ; let last = last" class="array-item">
                           {{data.category}}<span  *ngIf="!last">, </span>
                        </span > should sum up to 100%.

                    </div>
                    <div class="col align-self-end" *ngIf="failedRelevanceArray.length!=0">
                        Please make sure to set Relevance weights for <span  *ngFor="let data of failedRelevanceArray ; let last = last" class="array-item">
                            {{data.category}} <span  *ngIf="!last">, </span>
                         </span > should sum up to 100%.
                          
                        
                    </div>
                </div> -->
                
               

                <div
                class="d-flex flex-row-reverse mt-20 ">
                    <button class="btn btn-primary text-uppercase" type="submit" [disabled]="failedLikelihoodArray.length!=0 ||failedRelevanceArray.length!=0">
                        {{approach==1 ?'Calculate & Check results': (approach==2 ?'Send to Data Collection Team':'')}} 
                    </button>
                </div>
            </div>
        </div>

        <div    *ngIf="activeIndex2!==5 || activeIndexMain!==1" class="row justify-content-end">
            <div>

                <div
                class="d-flex flex-row-reverse mt-20 ">
                    <div class="btn btn-primary text-uppercase" (click)="next()" [class.disabled]="(!isLikelihoodDisabled || !isRelavanceDisabled)">
                   
                       Next
                    </div>
                </div>
            </div>
        </div>







    </form>
<!-- <ng-template #elseblock> -->


<!-- </ng-template> -->

    </div>


</div>
