.characteristic-Topic{
    /* font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    
    color: #0C1A62; */
    margin-top: 20px;
}
.label-top{
    font-size: 14px;
}
.question{
    font-size: 14px;
}


 :host ::ng-deep .p-tabview p {
    line-height: 1.5;
    margin: 0;
}
.array-item {
    display: inline-block;
    margin-right: 5px;
  } 

 
  /* styles.css (global) */
  .custom-tab-header {
    text-align: center; /* Center the text */
    white-space: normal; /* Allow text to wrap */
    word-wrap: break-word; /* Allow breaking long words */
    max-width: 300px; /* Adjust the maximum width as needed */
  }



  .tooltip-container {
    display: inline-block;
    margin-left: 5px;
    position: relative;
  }
  
  .tooltip-icon {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-color: #000;
    border-radius: 50%;
    text-align: center;
    line-height: 17px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
  }
  
  .tooltip-text {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
    left: 30px;
    top: -150%; /* Adjust the distance above the icon */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    white-space: normal;
    word-wrap: break-word;
    width:900px;
  }
  
  .tooltip-container:hover .tooltip-text {
    opacity: 1;
  }
  
  

  .tooltip2-icon {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-color: #000;
    border-radius: 50%;
    text-align: center;
    line-height: 17px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
  }
  
  .tooltip2-text {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
    left: 30px;
    top: -150%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    white-space: normal;
    word-wrap: break-word;
  }
  
  .tooltip2-container:hover .tooltip2-text {
    opacity: 1;
  }
  
  .tooltip2-container {
    position: absolute;
    top: 36px;
    left: 120px;
    z-index: 9999;
  }
  
  .table-container {
    position: absolute;
    top: 50px; 
    left: 50px; 
    z-index: 9999;
  }
  .custom-input {
    width: 400px; 
  }
  
  .custom-textarea {
    width: 400px; 
    height: 80px; 
  }
  