.tooltip-container {
  position: relative;
  display: inline-block;
  margin-left: 5px; /* Adjust the margin as needed */
}

.tooltip-icon {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-color: #000;
  border-radius: 50%;
  text-align: center;
  line-height: 17px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.tooltip-text {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
  left: 30px; /* Adjust the distance from the icon as needed */
  top: 0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  white-space: nowrap;
}

.tooltip-container:hover .tooltip-text {
  opacity: 1;
}
